.matches {
  margin-top: 0.5rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  /* gap: 1.22rem; */
}
.show-more-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3.3rem;

}

@media (max-width: 56.25rem) {
  .matches {
    margin-top: 0;
  }
  .show-more-button {
    margin-top: 13px;
  }
}
