.watch-video-top {
  display: flex;
  justify-content: space-between;
  width: 98%;
  margin: 0 auto 5px;
}
.bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2.775rem;
  width: 100%;
}
.mobile-social {
  display: none;
}
.takticks {
  margin-top: 1.7rem;
  margin-bottom: 5.53rem;
}

.casino {
  margin-bottom: 3.32rem;
}
@media (max-width: 56.25rem) {
  .social-links-desktop {
    display: none;
  }

  .watch-football {
    margin: 0 auto;
    padding-bottom: 3rem;
    max-width: min(38rem, 98%);
  }

  .watch-video-top {
    justify-content: center;
    margin: 15px auto 13px;
  }
  .bottom {
    margin-top: 1.65rem;
  }
  .mobile-social {
    display: inline-block;
  }

  .vpn {
    margin-bottom: 1.7rem;
  }
  .takticks {
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
  }
  .casino {
    margin-bottom: 1.75rem;
  }
  .who-will-win {
    width: min(95.5%, 27rem);
  }
}
@media (max-width: 600px) {
  .watch-football {
    max-width: 100%;
    margin: 0 3px;
    padding-bottom: 3rem;
  }
}
