.follow-us-method {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.9rem 1.75rem;
  background-color: #182228;
  border-radius: 0.625rem;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.follow-us-method:hover {
  background-color: rgba(24, 34, 40, 0.25);
}
.follow-us-method-para {
  font-size: 1.05rem;
  line-height: 0.9375rem;
  font-weight: 400;

  margin-left: 10.6%;
  margin-right: auto;
}
@media (min-width: 56.25rem) {
  .follow-us-method {
    font-size: 1.03rem;
    line-height: 1.125rem;
  }
  .follow-us-method-image {
    width: 2.4rem;
    height: 2.4rem;
  }
  .follow-us-method-para {
    margin-left: 10.6%;
    margin-right: auto;
  }
}
