.container {
  width: 32.15rem;
  height: 8.76rem;
  border-radius: 0.45rem;
  background: #0d1317;
}
.elems {
  display: flex;
  flex-direction: column;
  gap: 0.94rem;
  padding: 1.4rem 0 0.94rem;
}
.elem {
  display: flex;
  align-items: center;
  gap: 0.94rem;
}
.elem p {
  color: #8c8c8c;
  font-family: "Roboto";
  font-size: 0.9rem;
  font-weight: 500;
  line-height: normal;
}
.first-row,
.sec-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
}
.bottom-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0.61rem 0 0.89rem;
  border-top: 1px solid rgba(63, 63, 63, 0.6);
  width: 87.5%;
  color: rgba(255, 255, 255, 0.48);
  font-family: "Poppins";
  font-size: 0.656rem;
  font-style: normal;
  font-weight: 400;
  line-height: 144.5%; /* 20.23px */
}
@media (max-width: 56.25rem) {
  .container {
    width: 22.68rem;
    height: 8.18rem;
    border-radius: 0.5rem;
  }
  .elems {
    gap: 1.06rem;
    padding: 1.125rem 0 3.75rem;
  }
  .elem {
    gap: 0.3rem;
  }
  .elem p {
    font-size: 0.75rem;
  }
  .first-row,
  .sec-row {
    gap: 0.75rem;
  }
  .bottom-text {
    display: none;
  }
  .card {
    width: 14px;
    height: 18px;
  }
  .substitute {
    width: 17px;
    height: 17px;
  }
  .ball-icon {
    width: 17px;
    height: 17px;
  }
  .var {
    width: 14px;
    height: 17px;
  }
}
