.chat-top {
  background-color: #03a1cd;
  height: 1.5rem;
  width: 100%;
  padding: 0.48rem 0.56rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat-top-text {
  font-size: 0.784rem;
  line-height: 0.8rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.28rem;
  font-family: RobotoSemiBold;
  font-weight: 600;
  line-height: normal;
  position: relative;
  width: 6.3rem;
  padding: 2.4px;
  border-top-right-radius: 3.6px;
  border-top-left-radius: 3.6px;
}

/* .chat-top-text:hover {
  background: #04627c;
} */

/* .chat-top-text:hover > .chat-rooms {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 2.4px;
}
 */
.chat-top-text > img {
  transition: all 0.16s ease-out;
}

/* .chat-top-text:hover > img {
  rotate: -180deg;
}
 */
/* .chat-rooms {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #04627c;
  width: 6.3rem;
  z-index: 10;
  border-radius: 3.6px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  overflow: hidden;
  padding: 6.4px 3.2px 3.2px;
}

.space-2 {
  position: absolute;
  top: 5.24rem;
  left: 0;
  width: 100%;
  height: 0.32rem;
  background: #04627c;
  z-index: 10;
}

.chat-room,
.arabic {
  width: 100%;
  height: 1.424rem;
  display: flex;
  align-items: center;
  padding: 0 0.52rem;
  color: #fff;
  font-family: RobotoRegular;
  font-size: 0.664rem;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  border-radius: 2.4px;
}

.arabic {
  font-family: "Noto Sans Arabic";
}

.chat-room:hover,
.arabic:hover {
  background: #174351 !important;
} */

.chat-top-extend,
.chat-top-exit {
  cursor: pointer;
}
@media (max-width: 56.25rem) {
  .space-2 {
    top: 5.95rem;
  }
  .chat-top {
    background-color: #03a1cd;
    height: 1.4rem;
    padding: 0.3rem;
  }
  .chat-top-extend {
    width: 20.2px;
    height: 15.2px;
  }
  .chat-top-exit {
    width: 23.2px;
    height: 16.2px;
  }

  .chat-top-text {
    font-size: 0.8rem;
    line-height: 0.8rem;
    gap: 0.25rem;
    width: 7.3rem;
  }
  .chat-rooms {
    /* margin-left: -4rem; */
    padding: 6px;
    width: 7.3rem;
    top: 103%;
  }
  .chat-room,
  .arabic {
    height: 1.4rem;
    padding-left: 0.52rem;
    /* padding: 4px; */
    font-size: 0.65rem;
    line-height: 0.72rem;
  }
}
