.search-div {
  position: relative;
}
.search {
  padding-left: 2.06rem;
  padding-right: 0.7rem;
  width: 7.78rem;
  height: 1.6rem;
  /* letter-spacing: 2px; */
  color: rgba(216, 216, 216, 0.4);
  font-family: "Poppins";
  font-size: 0.61rem;
  line-height: 1rem;
  border-radius: 0.75rem;
  background-color: rgba(255, 255, 255, 0.06);
}
.search-icon {
  position: absolute;
  top: 0.45rem;
  left: 0.6rem;
  font-size: 0.84rem;
  color: rgba(200, 200, 200, 0.6);
}
