.nav {
  width: 46.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0 1.64rem;
  background: url("/svg/layout/header/background.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
  margin: -5.5px auto 0;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 1.48rem;
  justify-content: center;
  margin: auto;
}
.list-item,
.list-item-active {
  color: #fff;
  text-align: center;
  font-size: 1.23rem;
  font-family: RobotoSemiBold;
  font-weight: 600;
  border-radius: 0.33rem;
  padding: 0.22rem 0.5rem;
  transition: 0.3s all ease-out;
  cursor: pointer;
}
.list-item-active {
  background: rgba(0, 196, 251, 0.8);
}
.list-item:hover {
  background: rgba(0, 196, 251, 0.8);
}
