.nav {
  width: 37.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 0 1.312rem;
  background: url("/svg/layout/header/background.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
  margin: -4.4px auto 0;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 1.184rem;
  justify-content: center;
  margin: auto;
}
.list-item,
.list-item-active {
  color: #fff;
  text-align: center;
  font-size: 0.984rem;
  font-family: RobotoSemiBold;
  font-weight: 600;
  border-radius: 0.264rem;
  padding: 0.176rem 0.4rem;
  transition: 0.3s all ease-out;
  cursor: pointer;
}
.list-item-active {
  background: rgba(0, 196, 251, 0.8);
}
.list-item:hover {
  background: rgba(0, 196, 251, 0.8);
}
