.page {
  max-width: 36rem;
  margin: 0 auto;
  padding-bottom: 5.6rem; 
}
.heading {
  margin: 3rem auto 1.232rem; 
  font-weight: 700; 
  font-size: 1.8rem; 
  line-height: 2.1rem; 
  text-align: center;
  font-family: RobotoBold; 
}
@media (max-width: 56.25rem) {
  .page {
    max-width: min(35rem, 95%);
    margin: 0 auto;
    padding-bottom: 4rem;
  }

  .heading {
    margin: 2.18rem auto 0.5rem;
    font-size: 1.25rem;
    line-height: 2.25rem;
  }
}
@media (max-width: 500px) {
  .page {
    max-width: 100%;
    margin: 0 3px;
    padding-bottom: 3rem;
  }
}
