.container {
  width: 16.3rem;
  height: 5.53rem;
  border-radius: 0.47rem;
  background: #171d21;
  padding: 1.17rem;
  display: flex;
  align-items: center;
  gap: 1.17rem;
}
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.61rem;
}
.username {
  color: #fff;
  text-align: center;
  font-family: "Roboto";
  font-size: 0.8rem;
  font-weight: 400;
}
.sign-out {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.19rem;
  background: #616161;
  width: 3.375rem;
  height: 1.32rem;
  color: #fdfdfd;
  font-family: "Roboto";
  font-size: 0.61rem;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}
