.stadium {
  height: 38.4rem;
  width: 23.9rem;
  background: url("/svg/watch/tennis/pitch.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0%;
  position: relative;
}
.palyer-1,
.palyer-2,
.palyer-3,
.palyer-4,
.palyer-5,
.palyer-6 {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.7rem;
}
.palyer-1 {
  position: absolute;
  top: 10%;
  left: 44%;
}
.palyer-2 {
  position: absolute;
  bottom: 10%;
  left: 44%;
}
.palyer-3 {
  position: absolute;
  top: 10%;
  left: 20%;
}
.palyer-4 {
  position: absolute;
  top: 10%;
  left: 67%;
}
.palyer-5 {
  position: absolute;
  bottom: 10%;
  left: 20%;
}
.palyer-6 {
  position: absolute;
  bottom: 10%;
  left: 67%;
}
.player-name {
  color: #394122;
  font-size: 0.75rem;
  font-family: RobotoSemiBold;
  font-weight: 600;
  line-height: normal;
}
@media (max-width: 56.25rem) {
  .stadium {
    height: 29.25rem;
    width: 16.8rem;
    background: url("/svg/watch/tennis/pitch-424.svg");
  }
  .palyer-1,
  .palyer-2 {
    gap: 0.25rem;
  }
  .player-name {
    font-size: 0.75rem;
  }
  .player-icon {
    width: 30px;
    height: 47px;
  }
}
@media (max-width: 25rem) {
  .stadium {
    height: 28.75rem;
    width: 16.5rem;
    background: url("/svg/watch/tennis/pitch-400.svg");
  }
  .palyer-1,
  .palyer-2 {
    gap: 0.25rem;
  }
  .player-name {
    font-size: 11.5px;
  }
  .player-icon {
    width: 29px;
    height: 46px;
  }
}
@media (max-width: 23.125rem) {
  .stadium {
    height: 28.25rem;
    width: 16.2rem;
    /* background: url("/svg/watch/tennis/pitch-424.svg"); */
  }
  .player-name {
    font-size: 11.5px;
  }
  .player-icon {
    width: 28px;
    height: 45px;
  }
}
