.leagueMenu {
  padding-top: 3rem;
  padding-bottom: 3rem;
  /* width: 45%; */
  margin: auto;
}
.leagueMenu-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
/* .leagueMenu-container {
  display: flex;
  align-items: center;
  gap: 0.6rem;
} */
.leagueMenu-container-img-active > img {
  opacity: 1;
}
.leagueMenu-container-img > img,
.leagueMenu-container-img-active > img {
  /* background-color: black; */
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.leagueMenu-container-img> img {
  opacity: 0.4;
}
.leagueMenu-container-img > img:hover {
  opacity: 0.8;
}
@media (max-width: 56.25rem) {
  .leagueMenu {
    padding-top: 2.125rem;
    padding-bottom: 0;
    width: 90%;
    margin: auto;
  }

  .leagueMenu-container {
    gap: 0.35rem;
  }

  .leagueMenu-container-img > img,
  .leagueMenu-container-img-active > img {
    width: 2.8rem;
    height: 2.8rem;
  }
}
@media (max-width: 25rem) {
  .leagueMenu-container {
    gap: 0.35rem;
  }

  .leagueMenu-container-img > img,
  .leagueMenu-container-img-active > img {
    width: 2.25rem;
    height: 2.25rem;
  }
}
