.payment-method {
  width: 23.2rem;
  height: 16.96rem;
  background: #0d1317;
  border-radius: 1.8rem;
  padding: 1.344rem 1.2rem 1.344rem 1.424rem;
}
.top {
  display: flex;
  align-items: flex-start;
}
.heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 1.424rem;
  line-height: 2.88rem;
  color: rgba(255, 255, 255, 0.95);
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
.exit {
  cursor: pointer;
}
.data {
  padding: 0.224rem 0.6rem 0.176rem;
  width: 20.48rem;
  height: 2.72rem;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 0.68rem;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 1.424rem;
  line-height: 0%;
}
.thankful-message {
  margin: 0.744rem auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.872rem;
}
.message {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 0.6rem;
  line-height: 1.088rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.48);
  width: 95%;
  margin: auto;
}
.paid-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.52rem 1.2rem;
  width: 6.32rem;
  height: 2.28rem;
  background: #01bcf1;
  border-radius: 0.3rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 0.8rem;
  color: #ffffff;
  cursor: pointer;
}
@media (max-width: 56.25rem) {
  .payment-method {
    width: min(24rem, 95%);
    height: auto;
    border-radius: 2.125rem;
    padding: 2rem 1.2rem 1.28rem 1.42rem;
  }
  .top {
    width: 100%;
    margin-left: auto;
  }
  .exit {
    width: 15px;
    height: 15px;
  }
  .heading {
    font-size: 1.62rem;
    line-height: 2.88rem;
  }
  .data {
    padding: 0.22rem 0.6rem 0.2rem;
    width: 100%;
    height: 2.72rem;
    border-radius: 0.3rem;
    font-size: 0.74rem;
    margin-top: 1.42rem;
  }
  .thankful-message {
    margin: 0.744rem auto 0;
    gap: 1.87rem;
  }
  .message {
    font-size: 0.6rem;
    line-height: 1.06rem;
  }
  .paid-button {
    padding: 0.52rem 1.2rem;
    width: 6.3rem;
    height: 2.28rem;
    border-radius: 0.3rem;
    font-size: 0.9rem;
  }
}
