.standings-item {
  display: grid;
  grid-template-columns: 36% 1fr;
  grid-column-gap: 0.8rem;
}

.standings-item-second {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 28% 7%;
  justify-items: center;
  padding-right: 0.8rem;
}

.standings-item-second-mobile {
  display: none;
}

.standings-item-first {
  display: grid;
  grid-template-columns: 1fr 75%;
  justify-items: center;
}

.standings-item-para {
  color: #fff;
  font-size: 0.9rem;
  font-family: RobotoRegular;
  font-weight: 500;
}

.standings-item-first > .standings-item-para:first-of-type {
  color: #747474;
  font-size: 0.75rem;
  font-family: "Poppins";
  font-weight: 600;
}

.standing-items {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.3rem;
  width: 100%;
}

.standings-item {
  padding: 0.412rem 0;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  width: 100%;
}

.standings-item:hover {
  background: #1c2125;
}

.standings-header-first .standings-header-para:nth-child(2) {
  justify-self: start;
}

.first-team {
  display: grid;
  grid-template-columns: 2.8rem 1fr;
  white-space: nowrap;
  width: 100%;
  align-items: center;
}

.Last-5 {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.Last-5 * {
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 50%;
}
.win {
  background: #26b812;
}
.lose {
  background: #b81212;
}
.draw {
  background: #808385;
}
@media (max-width: 56.25rem) {
  .standings-item {
    display: grid;
    grid-template-columns: 42% 1fr;
    grid-column-gap: 2rem;
  }
  .standings-item-second {
    display: none;
  }
  .standings-item-second-mobile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    padding-right: 0.75rem;
  }
  .standings-item-para {
    font-size: 0.875rem;
  }
  .standings-item-first > .standings-item-para:first-of-type {
    font-size: 0.875rem;
  }
  .standing-items {
    gap: 0.25rem;
  }
  .standings-item {
    padding: 0.45rem 0;
  }
  .first-team {
    width: 100%;
    justify-content: flex-start;
    gap: 0.75rem;
  }
  .first-team .standings-item-para {
    font-size: 1.09rem;
  }
}
@media (max-width: 31.25rem) {
  .standings-item {
    grid-template-columns: 48% 1fr;
  }
}
@media (max-width: 25rem) {
  .standings-item {
    grid-column-gap: 1.5rem;
    grid-template-columns: 51% 1fr;
  }
  .standings-item-second-mobile {
    padding-right: 0.7rem;
  }
  .standings-item-para {
    font-size: 0.75rem;
  }
  .standings-item-first > .standings-item-para:first-of-type {
    font-size: 0.75rem;
  }

  .standing-items {
    gap: 0.2rem;
  }
  .standings-item {
    padding: 0.4rem 0;
  }
  .first-team .standings-item-para {
    font-size: 0.95rem;
  }
}
