.standings {
  background-color: #0d1317;
  border-radius: 0.9rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  /* grid-row-gap: 0.8rem; */
}
.devider,
.devider-2 {
  display: block;
  height: 1px;
  background: #797979;
  width: 95%;
  margin: auto;
}
.devider-2 {
  margin: 1.5rem auto 1.175rem;
}

@media (max-width: 56.25rem) {
  .standings {
    border-radius: 0.9rem;
    grid-template-columns: 1fr;
  }
  .devider-2 {
    margin: 1.5rem auto 1.175rem;
  }
}
