.container {
  position: absolute;
  top: 2.5rem;
  width: 97%;
  right: 1.5%;
  z-index: 10;
  border-radius: 0.3rem;
  background: #1d242b;
  min-height: 5.25rem;
  padding: 0.6rem 0.6rem 0.67rem 0.97rem;
  display: flex;
  flex-direction: column;
  border-bottom: 9px solid #03a1cd;
}
.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.poll-maker {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 0.565rem;
  line-height: 0.85rem;
  color: rgba(255, 255, 255, 0.5);
}
.poll-body {
}
.poll-title {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 0.93rem;
  line-height: 1.4rem;
  text-align: center;
}
.poll-para {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 1.2rem;
  text-align: center;
  color: #58b3cc;
}
.arrow-wrapper {
  border-radius: 50%;
  height: 0.65rem;
  width: 0.65rem;
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem auto 0;
}
.arrow-down,
.arrow-up {
  font-size: 0.7rem;
  color: #203639;
  cursor: pointer;
  rotate: 0;
}
.arrow-down {
  rotate: 180deg;
}
.button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.show-less {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Roboto";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 100px;
  height: 32px;
  border-radius: 3px;
  background: rgb(33, 46, 57, 0.6);
  /* margin-top: 1.25rem; */
}

@media screen and (max-height: 1400px) and (min-height: 1100px) and (max-width: 1100px) and (min-width: 800px) {
  .container {
    width: 34.125rem;
    right: 0%;
    top: 3rem;
    transform: translate(-50%, -0%);
    min-height: 6.687rem;
    border-radius: 6px;
    padding: 19px 30px 24px;
  }
  .top {
    justify-content: flex-end;
  }
  .poll-icon {
    width: 22px;
    height: 22px;
  }
  .poll-maker {
    /* font-size: 7px;
    line-height: 9px; */
    display: none;
  }
  .poll-title {
    font-size: 1.18rem;
    line-height: normal;
    color: #fff;
  }
  .poll-para {
    font-size: 1.06rem;
    line-height: normal;
  }
  .arrow-wrapper {
    height: 0.625rem;
    width: 0.625rem;
    margin: 0.7rem auto 0;
  }
  .arrow-down,
  .arrow-up {
    font-size: 0.75rem;
  }
  .button-wrapper {
    display: flex;
    justify-content: center;
  }
  .show-less {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-feature-settings: "clig" off, "liga" off;
    font-family: "Roboto";
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 112px;
    height: 36px;
    border-radius: 3px;
    background: rgb(33, 46, 57, 0.6);
    /* margin-top: 1.25rem; */
  }
}

@media (max-width: 56.25rem) {
  .container {
    width: 98%;
    right: 1%;
    min-height: 3.625rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    padding: 9px 11px 11px 16px;
  }
  .top {
    justify-content: flex-end;
  }
  .poll-maker {
    /* font-size: 7px;
    line-height: 9px; */
    display: none;
  }
  .poll-icon {
    width: 14px;
    height: 14px;
  }
  .poll-title {
    font-size: 0.875rem;
    line-height: 1.3rem;
    color: #fff;
  }
  .poll-para {
    font-size: 0.75rem;
    line-height: 160%;
  }
  .arrow-wrapper {
    height: 0.625rem;
    width: 0.625rem;
    margin: 0.7rem auto 0;
  }
  .arrow-down,
  .arrow-up {
    font-size: 0.65rem;
  }
  .button-wrapper {
    display: flex;
    justify-content: center;
  }
  .show-less {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-feature-settings: "clig" off, "liga" off;
    font-family: "Roboto";
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 83px;
    height: 27px;
    border-radius: 3px;
    background: rgb(33, 46, 57, 0.6);
  }
}
