.one,
.two,
.three,
.four,
.five,
.six,
.seven,
.eight,
.nine,
.ten,
.eleven {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
}
.one {
  bottom: 1%;
  left: 45%;
}

.two {
  bottom: 13%;
  left: 86%;
}
.three {
  bottom: 12%;
  left: 62%;
}

.four {
  bottom: 12%;
  left: 28%;
}
.five {
  bottom: 13%;
  left: 5%;
}
.six {
  bottom: 18%;
  left: 45%;
}
.seven {
  bottom: 24.5%;
  left: 61%;
}

.eight {
  bottom: 24.5%;
  left: 29.5%;
}
.nine {
  bottom: 32%;
  left: 45%;
}
.ten {
  bottom: 39%;
  left: 57%;
}

.eleven {
  bottom: 39%;
  left: 34%;
}

.player-name {
  color: #274122;
  font-size: 0.75rem;
  font-family: RobotoSemiBold;
  font-weight: 600;
  line-height: normal;
}
.team-shirt {
  width: 41px;
  height: 30px;
  color: #a60e08;
}

@media (max-width: 56.25rem) {
  .one,
  .two,
  .three,
  .four,
  .five,
  .six,
  .seven,
  .eight,
  .nine,
  .ten,
  .eleven {
    gap: 0.17rem;
  }
  .team-shirt {
    width: 31px;
    height: 21px;
  }

  .player-name {
    font-size: 11.5px;
  }
}
@media (max-width: 23.125rem) {
  .team-shirt {
    width: 23px;
    height: 27.5px;
  }
  .player-name {
    font-size: 11px;
  }
}
