.scroll-top {
  position: fixed;
  bottom: 29%;
  right: 8%;
  z-index: 19;
  cursor: pointer;
}
@media (max-width: 56.25rem) {
  .scroll-top {
    width: 23px;
    height: 23px;
    bottom: 18%;
  }
}
