.scroll-top {
  position: fixed;
  bottom: 29vh;
  right: 8%;
  z-index: 8;
  cursor: pointer;
}
@media (max-width: 56.25rem) {
  .scroll-top {
    width: 23px;
    height: 23px;
    bottom: 18vh;
  }
}
