.notify-me-group {
  display: flex;
  flex-direction: column;
  gap: 0.642rem;
}

.label {
  color: #e4e4e4;
  font-size: 0.85rem;
  font-family: "Poppins";
  font-weight: 700;
  letter-spacing: 0.18px;
}
.input-group {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.notify-input {
  display: flex;
  align-items: center;
  width: 14.065rem;
  height: 2.815rem;
  padding: 0.28rem 0.75rem 0.26rem;
  border-radius: 0.375rem;
  border: 1px solid rgba(255, 255, 255, 0.12);
  color: gray;
  font-size: 0.656rem;
  font-family: "Poppins";
  line-height: 180%;
}
.notify-button {
  display: flex;
  padding: 0.832rem 1.73rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.375rem;
  background: #00c4fb;
  color: #fff;
  font-size: 0.75rem;
  font-family: "Poppins";
  cursor: pointer;
}
@media (max-width: 75rem) {
  .notify-me-group {
    gap: 0.5457rem;
  }

  .label {
    font-size: 0.7225rem;
    letter-spacing: 0.153px;
  }
  .input-group {
    gap: 0.238rem;
  }
  .notify-input {
    width: 12.0325rem;
    height: 2.06855rem;
    padding: 0.238rem 0.6375rem 0.221rem;
    border-radius: 0.31875rem;
    font-size: 0.5576rem;
    line-height: 153%;
  }
  .notify-button {
    padding: 0.5576rem 1.275rem;
    border-radius: 0.31875rem;
    font-size: 0.6375rem;
  }
}
