.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.344rem;
  position: relative;
  width: 23.2rem;
  height: 16.272rem;
  border-radius: 1.8rem;
  background: #0d1317;
  padding: 2.136rem 2.4rem 1.44rem;
}
.exit {
  position: absolute;
  top: 23.2px;
  right: 22.4px;
}
.checked-div {
  width: 5.4rem;
  height: 5.4rem;
  border-radius: 50%;
  background-color: #01bcf1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.checked-icon {
  font-size: 3.04rem;
}
.messages {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.312rem;
}
.thankyou-message {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-family: "Poppins";
  font-size: 0.976rem;
  font-weight: 700;
  line-height: 127.5%;
}
.auto-close-message {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-family: "Poppins";
  font-size: 0.52rem;
  font-weight: 500;
  line-height: 180%;
}
