.send-message {
  width: 23.2rem;
  height: 19.84rem;
  background: #0d1317;
  border-radius: 1.8rem;
  padding: 1.28rem 1.2rem 1.32rem 1.568rem;
}
.send-message-top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin-left: auto;
}
.heading {
  font-family: "Poppins";
  flex-grow: 1;
  display: flex;
  justify-content: center;
  margin-left: 12px;
  font-weight: 600;
  font-size: 1.424rem;
  line-height: 1.84rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.95);
}
.exit {
  cursor: pointer;
}
.send-message-body {
  margin-top: 0.68rem;
}
.text-area {
  background-color: inherit;
  resize: none;
  width: 100%;
  height: 8rem;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 0.3rem;
  padding: 0.52rem 0.6rem;
  font-family: "Poppins";
  color: rgba(255, 255, 255, 0.5);
}
.send-message-para {
  margin-top: 1.12rem;
  margin-bottom: 0.936rem;
  font-weight: 400;
  font-size: 0.6rem;
  line-height: 1.08rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.48);
  font-family: "Poppins";
}
.send-button {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.52rem 1.2rem;
  width: 6.32rem;
  height: 2.288rem;
  border-radius: 0.3rem;
  background: #01bcf1;
  font-weight: 500;
  font-size: 0.824rem;
  color: white;
  cursor: pointer;
  font-family: "Poppins";
  transition: all 0.3s ease-in-out;
}
.send-button:hover {
  background: rgba(0, 197, 251, 0.5);
}
.send-message-button {
  background: #00c4fb;
  width: 1.3496rem;
  height: 5.1rem;
  border-radius: 0.24rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 45vh;
  left: 0;
  cursor: pointer;
  z-index: 8;
  transition: all 0.3s ease-in-out;
}
.send-message-button:hover {
  background: rgba(0, 197, 251, 0.5);
}
.send-message-button > p {
  rotate: 90deg;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  font-size: 0.744rem;
  letter-spacing: 0.16px;
}
@media (max-width: 56.25rem) {
  .send-message {
    width: min(90%, 24.5rem);
    height: auto;
    border-radius: 2.25rem;
    padding: 1.7rem 1.9rem 1.375rem 1.9rem;
  }
  .heading {
    font-size: 1.5rem;
    line-height: 2.68rem;
    margin-left: 0.75rem;
  }
  .exit {
    cursor: pointer;
    width: 1rem;
    height: 1rem;
  }
  .send-message-body {
    margin-top: 0.4rem;
  }
  .text-area {
    width: 100%;
    height: 8.56rem;
    border-radius: 0.5rem;
    padding: 0.55rem 0.65rem;
  }
  .send-message-para {
    margin-top: 17px;
    margin-bottom: 18px;
    font-size: 0.75rem;
    line-height: 1.35rem;
  }
  .send-button {
    padding: 0.5rem 1.5rem;
    width: 6.75rem;
    height: 2.435rem;
    border-radius: 0.375rem;
    font-size: 1rem;
  }
  .send-message-button {
    background: #00c4fb;
    font-family: RobotoRegular;
    font-weight: 500;
    width: 1.25rem;
    height: 4.81rem;
    border-radius: 0.3rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    left: 0;
    top: auto;
    bottom: 43vh;
  }
  .send-message-button p {
    font-size: 0.625rem;
    letter-spacing: 1.125px;
  }
}
