.shortcuts-parent {
  position: absolute;
  left: 75px;
  top: 225px;
  z-index: 100;
  overflow-y: scroll;
  background: #0c1115;
  box-shadow: 0px 1.5px 4.5px 1.5px rgba(0, 0, 0, 0.15),
    0px 0.75px 1.5px 0px rgba(0, 0, 0, 0.3);
  border-radius: 9px;
  opacity: 0.98;
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.7) transparent;
}

.shortcuts-parent::-webkit-scrollbar {
  width: 9px;
}

.shortcuts-parent::-webkit-scrollbar-track {
  background: transparent;
}

.shortcuts-parent::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.7);
  border-radius: 20px;
  border: 2.25px solid transparent;
}

.shortcuts-parent::-webkit-scrollbar-button {
  display: none;
}

.shortcuts-wrraper {
  display: flex;
  width: 205.5px;
  height: 219.75px;
  padding: 6px 21px;
  flex-direction: column;
  flex-shrink: 0;
  position: relative;
  z-index: 100;
}

.shortcuts-title {
  color: #e6e0e9;
  font-family: "Roboto";
  margin-top: 3.75px;
  margin-bottom: 11.25px;
  font-size: 12.75px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.close-svg {
  cursor: pointer;
  position: absolute;
  top: 3.75px;
  right: 7.5px;
  fill-opacity: 0.5;
}

.close-svg:hover {
  fill-opacity: 1;
}

.switch {
  position: relative;
  display: inline-block;
  width: 26.25px;
  height: 12px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  margin-top: 3.75px;
}

/* The slider */
.rounded-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.rounded-slider:before {
  position: absolute;
  content: "";
  width: 9px;
  height: 9px;
  left: 3.75px;
  bottom: 1.5px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch-input:checked + .rounded-slider {
  background-color: #2196f3;
}

.switch-input:focus + .rounded-slider {
  box-shadow: 0 0 1px #2196f3;
}

.switch-input:checked + .rounded-slider:before {
  -webkit-transform: translateX(19.5px);
  -ms-transform: translateX(19.5px);
  transform: translateX(19.5px);
  left: -3.75px;
}

/* Rounded sliders */
.rounded-slider {
  border-radius: 34px;
}

.rounded-slider:before {
  border-radius: 50%;
}

.shortcuts-content {
  /* padding-top: 10px; */
  display: flex;
  flex-direction: column;
}

.short-item {
  display: flex;
  justify-content: space-between;
  padding: 7.5px 0 7.5px 11.25px;
  color: #e6e0e9;
  font-family: "Roboto";
  font-size: 11.25px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.short-icon {
  color: #fff;
  font-family: "Roboto";
  font-size: 9.75px;
  font-style: normal;
  font-weight: 600;
  line-height: 21.75px;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 51.75px;
  height: 21.75px;
  gap: 14.262px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #131b20;
}
