.container {
  background: #0d1317;
  box-shadow: 0px 16px 40px rgba(18, 17, 39, 0.08);
  border-radius: 1.536rem;
  padding: 1.944rem 2.32rem 1.84rem;
}
.label {
  font-weight: 600;
  font-size: 0.68rem;
  line-height: 1.2rem;
  font-family: "Poppins";
}
.input-group,
.input-group-textarea {
  display: flex;
  align-items: flex-start;
  gap: 0.3rem;
  flex-direction: column;
}
.input,
.text-area {
  font-family: "Poppins";
  padding: 0.224rem 0.6rem 0.168rem;
  height: 1.944rem;
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 0.3rem;
  background-color: inherit;
  font-weight: 400;
  font-size: 0.6rem;
  line-height: 1.088rem;
  color: rgba(255, 255, 255, 0.4);
}
.input:focus-visible {
  border: 1px solid white;
}
.text-area {
  resize: none;
}
.input-group-textarea {
  margin-top: 1.68rem;
}
.text-area {
  background-color: inherit;
  height: 8rem;
  width: 100%;
}
.send-button {
  font-family: "Poppins";
  padding: 0.52rem 1.2rem;
  width: 6.528rem;
  height: 2.56rem;
  background: #03a1cd;
  border-radius: 0.3rem;
  font-weight: 500;
  font-size: 0.68rem;
  line-height: 1rem;
  cursor: pointer;
  border: none;
  margin: 1.424rem auto 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 56.25rem) {
  .container {
    border-radius: 0.875rem;
    padding: 1.18rem 0.75rem 1.63rem 1.31rem;
  }
  .label {
    font-size: 0.85rem;
    line-height: 1.3rem;
    font-weight: 500;
  }
  .input-group,
  .input-group-textarea {
    gap: 0.5rem;
  }
  .input,
  .text-area {
    padding: 0.2rem 0.56rem 0.15rem;
    height: 2.687rem;
    border-radius: 0.5rem;
    font-size: 0.75rem;
    line-height: 1.3rem;
  }
  .input-group-textarea {
    margin-top: 1.5rem;
  }
  .text-area {
    background-color: inherit;
    height: 7.2rem;
    width: 100%;
  }
  .send-button {
    padding: auto;
    width: 6.25rem;
    height: 2.75rem;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin: 1.125rem auto 0;
  }
}
