.container {
  width: 100%;
  padding-top: 1.03rem;
  /* height: 44rem; */
  border-radius: 0.47rem;
  background: rgba(27, 38, 46, 0.95);
  display: flex;
  flex-direction: column;
}
.top {
  margin: 0 1.07rem 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left,
.right {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.61rem;
  height: 2.7rem;
  padding: 0 0.7rem;
  border-radius: 0.45rem;
  background: rgba(21, 30, 35, 0.95);
}
.left p,
.right p {
  color: #727272;
  text-align: center;
  font-family: "Roboto";
  font-size: 0.82rem;
  font-weight: 500;
  line-height: normal;
}
.seperator {
  display: block;
  margin: auto;
  width: 90%;
  height: 1px;
  background: #3c3c3c;
}
.content::-webkit-scrollbar {
  width: 4.5px;
}

/* Track */
.content::-webkit-scrollbar-track {
  background: inherit;
}

/* Handle */
.content::-webkit-scrollbar-thumb {
  background: rgba(217, 217, 217, 0.6);
  border-radius: 8px;
}

/* Handle on hover */
.content::-webkit-scrollbar-thumb:hover {
  background: #515151;
}

.content {
  position: relative;
  flex-grow: 1;
  height: auto;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.watch-icon {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 1.125rem;
  margin-left: -0.25rem;
}
.whistle-icon {
  margin: auto;
  display: flex;
}
.devider {
  display: block;
  width: 3px;
  height: calc(100% - 4.9rem);
  position: absolute;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
  background: #b3b3b3;
}
.events {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1.875rem;
  margin-top: 6rem;
}
@media (max-width: 56.25rem) {
  .container {
    width: 100%;
    padding-top: 1.03rem;
    height: auto;
    border-radius: 0.47rem;
    background: rgba(27, 38, 46, 0.95);
    display: flex;
    flex-direction: column;
  }
  .top {
    margin: 0 1.07rem 0.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .left,
  .right {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.61rem;
    height: 2.7rem;
    padding: 0 0.7rem;
    border-radius: 0.45rem;
    background: rgba(21, 30, 35, 0.95);
  }
  .left img {
    width: 19.5px;
    height: 27px;
  }
  .left img {
    height: 19.5px;
    width: 26px;
  }

  .left p,
  .right p {
    color: #727272;
    text-align: center;
    font-family: "Roboto";
    font-size: 0.82rem;
    font-weight: 500;
    line-height: normal;
  }
  .seperator {
    display: block;
    margin: auto;
    width: 90%;
    height: 1px;
    background: #3c3c3c;
  }
  .content::-webkit-scrollbar {
    width: 4.5px;
  }

  /* Track */
  .content::-webkit-scrollbar-track {
    background: inherit;
  }

  /* Handle */
  .content::-webkit-scrollbar-thumb {
    background: rgba(217, 217, 217, 0.6);
    border-radius: 8px;
  }

  /* Handle on hover */
  .content::-webkit-scrollbar-thumb:hover {
    background: #515151;
  }

  .content {
    position: relative;
    flex-grow: 1;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

  .watch-icon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 1.125rem;
    margin-left: -0.25rem;
  }
  .whistle-icon {
    margin: auto;
    display: flex;
  }
  .devider {
    display: block;
    width: 3px;
    height: calc(100% - 4.9rem);
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    background: #b3b3b3;
  }
  .events {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 1.875rem;
    margin-top: 6rem;
  }
}
@media (max-width: 410px) {
  .left p,
  .right p {
    font-size: 0.78rem;
  }
  .left img {
    width: 18px;
    height: 25px;
  }
  .left img {
    height: 18px;
    width: 24px;
  }
}
