.icons {
  display: flex;
  align-items: center;
  width: 110.3px;
  /* gap: 1.76rem; */
  /* border-radius: 1.6rem; */
}
.icons {
  justify-content: center;
}

.link {
  display: flex;
  align-items: center;
  justify-self: center;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 3.6px;
  width: 33.33%;
}

.link * {
  font-size: 1.25rem;
  color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.link:hover * {
  color: white;
}
@media (max-width: 81rem) {
  .icons {
    /* width: ;; */
  }
}
@media (max-width: 1050rem) {
  .icons {
    /* display: none; */
  }
}

@media (max-width: 56.25rem) {
  .icons {
    display: none;
  }
}
