.give-away {
  position: relative;
  margin: 1.625rem 3px;
  padding-bottom: 3rem;
}
.container {
  max-width: 100%;
}
.give-away-wrapper {
  height: 61rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 9% 1fr 40%;
  /* grid-row-gap: 2rem; */
  padding: 1rem 0.687rem 0.9375rem 0.875rem;
  background-color: #0d1317;
  border-radius: 1.125rem;
}
.give-away-details {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-column-gap: 2.5rem; */
  padding: 0.6rem 1.1rem 0.6875rem;
  font-family: RobotoSemiBold;
  font-size: 1.1rem;
  line-height: 1.1875rem;
  text-align: center;
}
.give-away-details-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.3rem;
}
.give-away-details-item > p {
  font-family: RobotoRegular;
  font-weight: 500;
}
.give-away-compition {
  position: relative;
  padding-top: 2.125rem;
}
.give-away-heading-2 {
  font-size: 2.4rem;
  line-height: 2.3rem;
  max-width: 84%;
  text-align: center;
  margin: auto;
  font-family: RobotoRegular;
  font-weight: 500;
}
.give-away-heading-2 > span {
  color: #00c4fb;
  display: inline-block;
}
.give-away-image {
  height: 77%;
  margin-top: -2rem;
  background: url("/svg/give-away/wrapper.svg");
  max-width: 100%;
  margin: auto;
  background-repeat: no-repeat;
  background-position: top;
  margin-bottom: 1.5rem;
}
.give-away-center-image {
  margin-top: 2.6rem;
  margin-left: 20%;
}
.give-away-para {
  font-size: 0.9375rem;
  line-height: 1.125rem;
  font-family: RobotoRegular;
  font-weight: 500;

  max-width: 82%;
  text-align: center;
  margin: auto;
  margin-top: 1rem;
}
.give-away-para > span {
  color: #02c6f9;
  margin-left: 0.25rem;
}
.devider {
  position: absolute;
  top: 0;
  left: -13px;
  height: 1px;
  width: 106%;
  height: 1px;
  background-color: white;
}
.follow-us {
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-row-gap: 0.4375rem;
}

@media (min-width: 34rem) {
  .container {
    width: min(75%, 27rem);
    margin: auto;
  }
}
@media (min-width: 40rem) {
  .container {
    width: min(30rem, 70%);
    margin: auto;
  }
  .give-away-image {
    max-width: 75%;
  }
  .give-away-center-image {
    margin-top: 2.6rem;
    margin-left: 22%;
  }
}
@media (min-width: 56.25rem) {
  .give-away {
    max-width: 35rem;
    margin: auto;
  }
  .container {
    margin-top: 3.65rem;
    width: 100%;
    margin-bottom: 3rem;
    padding-bottom: 9.2rem;
  }
  .give-away-wrapper {
    height: 67rem;
    grid-template-rows: 7.9% 1fr 40%;
    padding: 1.25rem 1rem 1.7rem;
  }
  .give-away-details {
    padding: 0 0.3rem 1.1rem 0.6875rem;
    font-family: RobotoRegular;
    font-size: 1.3125rem;
    line-height: 1.575rem;
    text-align: center;
  }
  .give-away-details-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
  }
  .give-away-compition {
    position: relative;
    padding-top: 2.125rem;
  }
  .give-away-heading-2 {
    font-size: 2.72rem;
    line-height: 3.2rem;
    max-width: 72%;
  }
  .give-away-image {
    height: 70%;
    margin-top: -2rem;
    background: url("/svg/give-away/wrapper.svg");
    /* max-width: 80%; */
    margin: auto;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
  }
  .give-away-para {
    font-size: 1.6rem;
    line-height: 1.875rem;
    max-width: 85%;
    margin-top: 1rem;
  }
  .follow-us {
    margin-top: 1.875rem;
    grid-row-gap: 0.7rem;
  }
}
