.page {
  max-width: min(68%, 36rem);
  margin: 0 auto;
  padding-bottom: 5.6rem;
}
.page * {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 0.72rem;
  line-height: 0.976rem;
  color: rgba(255, 255, 255, 0.75);
}
.page ul li {
  list-style: disc;
}
.page ul li ol li {
  list-style: decimal;
}
.top-heading {
  margin-top: 2.92rem;
  display: flex;
  align-items: center;
  gap: 0.56rem;
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #00c4fb;
}
.top-heading-title {
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-weight: 500;
  font-family: RobotoRegular;
  color: #00c4fb;
}

.top-heading > span {
  flex-grow: 1;
  background-color: #00c4fb;
  height: 1px;
}
.container {
  width: 100%;
  margin-top: 0.92rem;
  background-color: #0d1317;
  border-radius: 0.9rem;
  padding: 2.32rem 0 1.088rem;
}
.headings,
.wrapper {
  padding: 0 3.36rem 0 3.264rem;
}
.page-haeding {
  color: #606364;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 0.8rem;
}
.wrapper {
  margin-top: 0.8rem;
  padding-top: 0.24rem;
  padding-bottom: 0.24rem;
}
.wrapper h3 {
  color: white;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-bottom: 0.08rem;
  font-size: 0.8rem;
}
.wrapper-2 {
  background-color: #182228;
}
.headings {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 2.16rem;
  gap: 0.2rem;
}
@media (max-width: 56.25rem) {
  .page {
    max-width: min(87%, 35rem);
    margin: 0 auto;
    padding-bottom: 3rem;
  }
  .page * {
    font-size: 0.75rem;
    line-height: 1rem;
  }
  .top-heading {
    margin-top: 2rem;
    padding-left: 0.25rem;
    padding-right: 0.75rem;
  }
  .top-heading-title {
    font-size: 1rem;
    line-height: 1.3rem;
  }

  .container {
    margin-top: 0.92rem;
    border-radius: 0.97rem;
    padding: 1.3rem 0 0.7rem;
  }
  .headings,
  .wrapper {
    padding: 0 2.5rem 0 2.4rem;
  }
  .wrapper {
    margin-top: 0.75rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }
  .wrapper h3 {
    font-size: 0.9rem;
  }
  .headings {
    margin-bottom: 2rem;
    gap: 0.2rem;
  }
}
@media (max-width: 550px) {
  .page {
    max-width: 100%;
    margin: 0 3px;
    padding-bottom: 3rem;
  }
  .page * {
    font-size: 0.55rem;
    line-height: 0.75rem;
  }
  .top-heading {
    margin-top: 2rem;
  }
  .top-heading-title {
    font-size: 1rem;
    line-height: 1.3rem;
  }

  .container {
    margin-top: 0.92rem;
    border-radius: 0.97rem;
    padding: 1.3rem 0 0.7rem;
  }
  .headings,
  .wrapper {
    padding: 0 1.7rem 0;
  }
  .wrapper h3 {
    font-size: 0.7rem;
  }
}
