.details {
  display: flex;
  flex-direction: column;
  gap: 0.33rem;
}
.details-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 0.42rem;
  background: rgb(29, 38, 45, 0.6);
  height: 2.34rem;
  width: 19.4rem;
}
.item-left {
  color: #fff;
  text-align: center;
  font-size: 1.03rem;
  font-family: RobotoBold;
  font-weight: 700;
}
.item-right {
  color: #989898;
  text-align: center;
  font-size: 1.03;
  font-family: RobotoRegular;
  font-weight: 500;
}
@media (max-width: 56.25rem) {
  .details {
    gap: 0.25rem;
  }
  .details-item {
    border-radius: 0.25rem;
    height: 1.56rem;
    width: 12.875rem;
  }
  .item-left {
    font-size: 0.75rem;
  }
  .item-right {
    font-size: 0.75rem;
  }
}
