.watch-button,
.disabled {
  background-color: #ff4747;
  border-radius: 0.375rem;
  /* height: 1.3rem;
    width: 3.15rem; */
  padding: 0.4rem 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  line-height: 0.94rem;
  border: none;
  color: white;
  font-family: RobotoRegular;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.disabled {
  background-color: #945a5a;
}
.watch-button:hover {
  background-color: #d32727;
}
@media (max-width: 56.25rem) {
  .watch-button,
  .disabled {
    height: 1.7rem;
    width: 3.4rem;
    font-size: 0.625rem;
    line-height: 0%;
    font-weight: 500;
    border-radius: 0.25rem;
  }
}
@media (max-width: 400px) {
  .watch-button,
  .disabled {
    height: 1.5rem;
    width: 3.5rem;
    border-radius: 0.22rem;
    font-size: 10px;
    line-height: 0%;
    margin: 0;
  }
}
@media (max-width: 390px) {
  .watch-button,
  .disabled {
    height: 23px;
    width: 55px;
    border-radius: 0.25rem;
    font-size: 9.5px;
  }
}
@media (max-width: 370px) {
  .watch-button,
  .disabled {
    height: 22px;
    width: 52px;
    border-radius: 0.25rem;
    font-size: 9px;
  }
}
@media (max-width: 340px) {
  .watch-button,
  .disabled {
    height: 20px;
    width: 48px;
    border-radius: 0.25rem;
    font-size: 8px;
  }
}
