@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@500;600&family=Source+Sans+3:wght@600&family=DM+Sans:opsz,wght@9..40,400;9..40,500&display=swap&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300&family=Public+Sans:wght@500;600;700&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@400;500;700&display=swapc&family=Manrope:wght@300;500;600;700&display=swap");

@font-face {
  font-family: RobotoRegular;
  src: url("/fonts/NEW-MEDIUM.woff2") format("woff2"),
    url("/fonts/NEW-MEDIUM.woff") format("woff"),
    url("/fonts/NEW-MEDIUM.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  font-kerning: normal;
  font-feature-settings: "liga"; /* Turn ligatures on */
}

@font-face {
  font-family: RobotoSemiBold;
  src: url("/fonts/NEW-SEMI-BOLD.woff2") format("woff2"),
    url("/fonts/NEW-SEMI-BOLD.woff") format("woff"),
    url("/fonts/NEW-SEMI-BOLD.ttf") format("truetype");
  font-family: RobotoSemiBold;
  font-style: normal;
  font-display: swap;
  font-kerning: normal;
}

@font-face {
  font-family: RobotoBold;
  src: url("/fonts/NEW-Bold.woff2") format("woff2"),
    url("/fonts/NEW-Bold.woff") format("woff"),
    url("/fonts/NEW-Bold.ttf") format("truetype");

  font-family: RobotoBold;
  font-style: normal;
  font-display: swap;
  font-kerning: normal;
}

:root {
  /* --rgb-input: white !important; */
  --rgb-background: blue !important;
  --score-board: #203639;
  --gray-dark: #666769;
  --green: #41f331;
  --blue: #00c4fb;
  --btn-background: #ff4747;
  --background: rgba(13, 19, 24, 0.95);
}
html {
  height: 100%;
  width: 100%;
  /* overscroll-behavior: none; */
}

body {
  overscroll-behavior: contain; /* or contain-x, contain-y */
  background-color: #0d1316; /* set your desired background color */
}
body .jw-icon.jw-icon-inline.jw-button-color.jw-reset.jw-logo-button svg {
  display: none;
}
body .jw-icon.jw-icon-inline.jw-button-color.jw-reset.jw-logo-button::after {
  content: "";
  width: 30px;
  height: 30px;
  background-image: url("/public/svg/LOGO.svg");
}
body * {
  --gpr-bg-color: inherit !important;
  --color-border: #0d1318 !important;
}
body *::selection {
  background-color: #03a1cd;
  color: #0e0e0e;
}

.skin-tone-button .skin-tone:after {
  border: 1px solid blue !important;
}
.GifPickerReact .gpr-search-container input.gpr-search {
  background-color: #0d1318 !important;
}
.GifPickerReact .gpr-search-container input.gpr-search:focus {
  border: 1px solid white !important;
}
#root {
  --color-border: blue !important;
  --em-rgb-accent: white !important;
}
body .GifPickerReact.gpr-main {
  border: none;
}
body .GifPickerReact .gpr-header {
  border: none;
}
.GifPickerReact.gpr-main.gpr-main {
  border-color: inherit !important;
  width: 100% !important;
}
body .flex-column {
  width: 100% !important;
  overflow: hidden;
}
body .gpr-category-overlay:focus-visible {
  border: 1px solid red !important;
}
body .GifPickerReact .gpr-category:hover {
  box-shadow: 0 0 0 2px rgb(3, 161, 205);
}
body .GifPickerReact .gpr-result-image:hover {
  box-shadow: 0 0 0 2px rgb(3, 161, 205);
}
#emojies-gifs > em-emoji-picker {
  width: 100% !important;
}
.gpr-category-list::-webkit-scrollbar {
  width: 14px;
}

.gpr-category-list::-webkit-scrollbar-track {
  background: inherit;
}

.gpr-category-list::-webkit-scrollbar-thumb {
  background: #515151;
  transition: all 0.2s ease-in-out;
  border-radius: 20px;
}
.gpr-category-list::-webkit-scrollbar-thumb:hover {
  background: rgba(217, 217, 217, 0.39);
}
.emojy-picker
  .padding-lr
  > div:nth-child(2)
  > div:nth-child(2)[position="relative"] {
  display: none !important;
}

body [controls="true"] {
  width: 100% !important;
  height: 100% !important;
}
body {
  overflow-x: hidden;
  color: white;
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  font-kerning: normal;
  box-sizing: border-box;
  /* font-family: "Roboto Condensed"; */
}

li {
  list-style: none;
}
/* ul {
  list-style: none;
} */
a {
  display: inline;
  text-decoration: none;
}
input {
  width: 100%;
  border: none;
  outline: none;
  /* padding: 10px; */
  border-radius: 8px;
  transition: 0.3s;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
}
button {
  border: none;
}
.wrapper {
  padding: 0;
  margin: 0;

  background-image: linear-gradient(
      to right bottom,
      rgb(20 28 33 / 97%),
      rgb(19 25 30 / 98%)
    ),
    url(/wallpaper/main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  overscroll-behavior: none;
}
.watch-football {
  max-width: 95%;
  margin: 0 auto;
  padding-bottom: 7.2rem;
}

.center-under-dev {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 3rem;
  padding-bottom: 5rem;
}
.show-more-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 1.3rem;
}
.watch-video-wrapper {
  margin: 1.3rem auto 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  /* min-height: 40.6rem; */
  max-width: min(58.4vw, 50.64vw);
}
.watch-video {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.4rem;
  width: 100%;
  /* height: 27.345rem; */
  height: auto;
  aspect-ratio: 16/9;
  border-radius: 1.25rem;
  background: #0d1316;
  overflow: hidden;
}
@media (max-width: 75rem) {
  .watch-video-wrapper {
    max-width: 51rem;
  }
}
@media (max-width: 56.25rem) {
  .gpr-category-list::-webkit-scrollbar {
    width: 11px;
  }
  .center-under-dev-under-dev-under-dev {
    margin-top: 1.5rem;
    padding-bottom: 3rem;
  }

  .watch-video-wrapper {
    margin: 0;
    min-height: auto;
    border-radius: 11px;
    /* background: #27333c; */
  }
  .navigation {
    display: none;
  }
  .watch-video {
    min-height: 12.5rem;
    width: 100%;
    height: auto;
    border-radius: 0;
    background: #0c1115;
    overflow: hidden;
    aspect-ratio: 16/9;
  }
  .wrapper-2 {
    padding: env(safe-area-inset-top) env(safe-area-inset-right)
      env(safe-area-inset-bottom) env(safe-area-inset-left);
    margin: 0;
    background-image: linear-gradient(
        to right bottom,
        rgb(20 28 33 / 97%),
        rgb(19 25 30 / 98%)
      ),
      url(/wallpaper/main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
  }
  .wrapper {
    padding: 0;
    margin: 0;
    background-image: none;
  }
  input {
    font-size: 16px !important;
  }
}
/* customize the date picker  */
.react-date-picker {
  width: 100% !important;
  height: 2.71rem !important;
}
.react-date-picker__wrapper {
  border: thin solid #beb7b7 !important;
  border-radius: 0.35rem !important;
  padding: 3px 8px !important;
}
.react-calendar__tile--now {
  background-color: #c3d7dc !important;
}
.react-date-picker__inputGroup__input {
  color: #3e4a4a !important;
}
.react-date-picker__inputGroup__divider,
.react-date-picker__inputGroup__leadingZero {
  color: black !important;
}
/* carousel */
.react-multi-carousel-item.react-multi-carousel-item--active {
  width: 7.125rem;
  height: 2.25rem;
  border-radius: 1.4rem;
  background: #171c20;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.slick-slider {
  width: 100% !important;
  display: flex !important;
  justify-content: flex-start;
  overflow: hidden;
}

.slick-track {
  display: flex !important;
  align-items: center;
  justify-content: center;
  gap: 0.5rem !important;
  width: 100% !important;
}
.slick-track > div {
  width: 5.7rem !important;
}
.slick-arrow.slick-prev,
.slick-arrow.slick-next {
  display: none !important;
}

/* cutomize hls.js */
.hls-progress-bar {
  display: none !important;
}
/* some commen classes */
.or-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: min-content;
}

.or-wrapper span {
  color: #1f1f1f;
  font-family: "Public Sans";
  font-size: 0.66rem;
  font-weight: 600;
  line-height: 0.88rem; /* 133.333% */
  text-transform: uppercase;
}
.search-div {
  margin: 1.1rem 2.552rem 1.1rem 0.5808rem;
}

/* style react colorful */
.color-picker-wrapper .react-colorful {
  height: auto;
  width: 14.8rem;
}
.color-picker-wrapper .react-colorful__saturation {
  height: 14.8rem;
  width: 14.8rem;
  border-radius: 4px 4px 0 0;
}
.color-picker-wrapper .react-colorful__saturation-pointer {
  width: 1.125rem;
  height: 1.125rem;
}
.color-picker-wrapper .react-colorful__hue {
  margin-top: 2.25rem;
  height: 0.375rem;
  border-radius: 0.25rem;
}
.color-picker-wrapper .react-colorful__hue-pointer {
  width: 13px;
  height: 13px;
  border-radius: 50%;
}
.color-picker-wrapper .react-colorful__alpha {
  margin-top: 2.25rem;
  height: 0.375rem;
  border-radius: 0.25rem;
}
.color-picker-wrapper .react-colorful__alpha-pointer {
  width: 13px;
  height: 13px;
  border-radius: 50%;
}
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
  display: none;
}
.emoji-extendmode > div {
  display: flex;
  justify-content: center;
  align-self: start;
}

/* crop image */
.image-wrapper {
  width: 24.94rem;
  height: 16.7rem;
  background: #0c1115;
  border-radius: 0.25rem;
  margin: 1.5rem auto 1.35rem;
  padding: 1.36rem 5.53rem;
}
.image-wrapper .reactEasyCrop_CropArea {
  width: 13.8rem !important;
  height: 13.97rem !important;
  border-radius: 50%;
}
.image-wrapper .reactEasyCrop_Container {
  position: relative !important;
  width: 100%;
  height: 100%;
}
.image-wrapper .reactEasyCrop_Contain {
  max-width: 13.8rem !important;
  max-height: 13.97rem !important;
}
.emojy-picker > div {
  display: flex;
  justify-content: center;
}
body .video-js.vjs-fluid:not(.vjs-audio-only-mode) {
  height: 100%;
}
