.wrapper {
  padding: 0;
  margin: 0;
  background-image: linear-gradient(
      to right bottom,
      rgb(14 19 22 / 97%),
      rgba(21, 26, 31, 0.98)
    ),
    url("../public/wallpaper/main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  overscroll-behavior: none;
}

body .padding-lr {
  margin-bottom: 0.5rem !important;
}

@media (max-width: 56.25rem) {
  .wrapper {
    padding: env(safe-area-inset-top) env(safe-area-inset-right)
      env(safe-area-inset-bottom) env(safe-area-inset-left);
  }
}
