.wrapper {
  padding: 0;
  margin: 0;
  background-image: linear-gradient(to right bottom, #161f25, #182228);
  /* linear-gradient(
    to right bottom,
    rgb(16 22 26),
    rgb(24 34 40)
  ); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  overscroll-behavior: none;
}

body .padding-lr {
  margin-bottom: 0.5rem !important;
}

@media (max-width: 56.25rem) {
  .wrapper {
    padding: env(safe-area-inset-top) env(safe-area-inset-right)
      env(safe-area-inset-bottom) env(safe-area-inset-left);
  }
}
