.page {
  padding-bottom: 3.33rem;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.time-zone {
  margin-bottom: 0.375rem;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}
.matches-container {
  max-width: 51.2rem;
  margin: auto;
}
.other-matches {
  margin-top: 3rem;
}
.matches {
  margin-top: 0.5rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  /* gap: 1.22rem; */
}
.top-screen-live-icon,
.search-mobile {
  display: none;
}
.hot-mathes-top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.85rem;
}
.hot-mathes-top .title {
  color: #fbbf00;
}

.title {
  font-size: 2.25rem;
  line-height: 2.625rem;
  margin: 1.25rem 0;
  font-family: RobotoRegular;
  font-weight: 500;
}
/* .title:last-of-type {
    margin-bottom: 0;
    margin-top: 0;
  } */
.other-matches-title-and-search {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 2.875rem;
  margin-bottom: 0.75rem;
  /* margin-bottom: 0.7rem; */
}
.search-desktop {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  align-self: flex-end;
}

@media (max-width: 80rem) {
  .matches-container {
    width: 90%;
  }
}
@media (max-width: 56.25rem) {
  .page {
    padding-bottom: 2rem;
  }
  .hot-matches-icon {
    width: 27px;
  }
  .matches-container {
    width: 98.3%;
    margin: auto;
  }
  .search-mobile {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    width: 75%;
    max-width: 30rem;
    margin: 1.5rem auto 0;
    color: rgb(24, 34, 40);
  }
  .search-mobile-input {
    padding: 1.06rem 1.25rem 1rem;
    background-color: rgba(12, 18, 21);
    color: white;
    font-weight: 400;
    font-family: "Poppins";
    color: rgba(153, 153, 153, 0.3);
    font-size: 0.81rem;
    line-height: 0.94rem;
    height: 2.91rem;
    border-radius: 7px;
    border: 1.5px solid transparent;
    transition: all 0.3s ease-in-out;
  }
  .search-mobile-input:focus-visible {
    border: 1.5px solid #01b2e4;
  }
  .search-mobile-button {
    background-color: rgba(2, 180, 229);
    border-radius: 0.55rem;
    font-weight: 500;
    font-family: RobotoRegular;
    font-size: 1rem;
    line-height: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-top: 0.36rem; */
    min-width: 5.4rem;
    height: 2.68rem;
    color: white;
  }
  .search-mobile-input::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }

  .search-mobile-input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgba(117, 117, 117, 0.5);
  }

  .search-mobile-input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgba(117, 117, 117, 0.5);
  }

  .top-screen {
    display: flex;
    align-items: center;
    gap: 1.93rem;
    justify-content: center;
    margin: 1.3rem auto 0;
    padding-right: 0.65rem;
    max-width: 94%;
    height: 4.18rem;
    background-color: rgba(12, 18, 21);
    border-radius: 0.55rem;
  }
  .top-screen-live-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 5rem;
    background-color: #00c4fb;
    border-radius: 9px;
  }
  .top-screen-live-icon > * {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .time-zone {
    margin-bottom: 0.3rem;
    font-size: 9px;
    line-height: 10.5px;
    padding-right: 5px;
  }
  .title {
    font-size: 1.375rem;
    line-height: 1.625rem;
    margin-left: 0.25rem;
    margin-bottom: 1.4rem;
    margin-top: 1.75rem;
  }

  .other-matches {
    margin-top: 2rem;
    margin-bottom: 0;
  }

  .other-matches-title-and-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3.25rem;
  }
  .other-matches .title {
    margin-top: 0;
  }
  .other-matches .search-desktop {
    align-self: center;
  }
  .matches {
    margin-top: 0;
    /* gap: 6px; */
  }
}
/* @media (max-width: 50rem) {
    .matches {
      gap: 0.5rem;
    }
  
  } */
@media (max-width: 28rem) {
  .search-mobile {
    width: 92%;
  }
}
@media (max-width: 26rem) {
  .search-mobile-input,
  .search-mobile-button {
    border-radius: 0.46rem;
  }
}

@media (max-width: 390px) {
  .search-mobile {
    gap: 0.75rem;
    margin: 19px auto 0;
  }
  .search-mobile-input {
    padding: 1rem 0.75rem;
    font-size: 0.81rem;
    line-height: 0.94rem;
    height: 2.75rem;
  }
  .search-mobile-button {
    min-width: 5.4rem;
    height: 2.68rem;
    color: white;
  }
  .top-screen {
    gap: 1.18rem;
    margin: 1rem auto 0;
    max-width: 97%;
    height: 4.1875rem;
    background-color: rgba(13, 19, 24);
  }
  .top-screen-live-icon {
    min-width: 5.45rem;
    background-color: #00c4fb;
    border-radius: 9px;
  }

  .time-zone {
    font-size: 9px;
    line-height: 10.5px;
  }
  .title {
    font-size: 1.375rem;
    line-height: 1.625rem;
  }
  .time-zone {
    margin-bottom: 0.25rem;
    font-size: 0.56rem;
    line-height: 0.67rem;
  }

  .other-matches {
    margin-top: 1.9375rem;
  }
  .matches {
    margin-top: 0;
  }
}

@media (max-width: 370px) {
  .search-mobile {
    gap: 0.75rem;
    width: 97%;
    max-width: 30rem;
    margin: 1.25rem auto 0;
  }
  .search-mobile-input {
    padding: 1rem 0.75rem;
    font-size: 0.81rem;
    line-height: 0.94rem;
    border-radius: 7px;
  }
  .search-mobile-button {
    border-radius: 0.55rem;
    font-weight: 500;
    font-family: RobotoRegular;
    font-size: 0.81rem;
    line-height: 0%;
    /* padding-top: 0.36rem; */
    min-width: 5.4rem;
    height: 2.75rem;
  }
  .top-screen {
    gap: 1.93rem;
    margin: 1rem auto 0;
    max-width: 97%;
    height: 4.18rem;
    background-color: rgba(13, 19, 24);
  }
  .top-screen-live-icon {
    min-width: 5.34rem;
    border-radius: 7px;
  }
  .time-zone {
    margin-bottom: 0.3rem;
    font-size: 9px;
    line-height: 10.5px;
    padding-right: 5px;
  }
  .title {
    font-size: 1.375rem;
    line-height: 1.625rem;
    margin-left: 0.25rem;
    margin-bottom: 0.2rem;
    margin-top: 1.75rem;
  }

  .other-matches {
    margin-top: 2rem;
  }
  .matches {
    /* gap: 6px; */
  }
}
@media (max-width: 340px) {
  .search-mobile {
    gap: 11px;
    margin: 1.25rem auto 0;
  }
  .search-mobile-input {
    padding: 15px 0.75rem 14px;
    font-size: 12.5px;
    line-height: 14.5px;
    height: 2.56rem;
    border-radius: 6.5px;
  }
  .search-mobile-button {
    border-radius: 6.5px;
    font-size: 12px;
    min-width: 81px;
    height: 39px;
  }
  .top-screen {
    gap: 1.687rem;
    margin: 15px auto 0;
    max-width: 97%;
    height: 4rem;
  }
  .top-screen-live-icon {
    height: 4rem;
    min-width: 5rem;
    border-radius: 8px;
  }
  .time-zone {
    margin-bottom: 7px;
    font-size: 8.5px;
    line-height: 10px;
    padding-right: 5px;
  }
  .title {
    font-size: 21.5px;
    line-height: 23px;
    margin-bottom: 1px;
    margin-top: 27px;
  }

  .other-matches {
    margin-top: 33px;
  }
}
@media (max-width: 340px) {
  .search-mobile {
    gap: 10px;
    margin: 23px auto 0;
  }
  .search-mobile-input {
    padding: 13px 11px;
    font-size: 11px;
    line-height: 13.5px;
    height: 38px;
    border-radius: 6px;
  }
  .search-mobile-button {
    border-radius: 6px;
    font-family: RobotoRegular;
    font-size: 11px;
    min-width: 13px;
    height: 37px;
  }
  .top-screen {
    gap: 24.3px;
    margin: 13px auto 0;
    max-width: 97%;
    height: 58px;
  }
  .top-screen-live-icon {
    height: 58px;
    min-width: 73px;
    border-radius: 8px;
  }
  .time-zone {
    margin-bottom: 5px;
    font-size: 8px;
    line-height: 9.4px;
  }
  .title {
    font-size: 20px;
    line-height: 23.4px;
    margin-bottom: 2px;
    margin-top: 24px;
  }

  .other-matches {
    margin-top: 25px;
  }
}
