.container {
  width: 29.5rem;
  background: #182228;
  border-radius: 1.875rem;
  padding: 2.1rem;
}
.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.indicators-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  margin-left: 15px;
}
.exit {
  cursor: pointer;
}
@media (max-width: 56.25rem) {
  .container {
    max-width: min(90%, 23.375rem);
    height: auto;
    border-radius: 2.18rem;
    padding: 1.3rem 1.5rem 1.25rem 2.2rem;
  }
  .top {
    width: max(65%, 11rem);
    margin-left: auto;
  }
  .exit {
    width: 15px;
    height: 15px;
  }
}
