.wrapper {
  flex-grow: 1;
  width: 25.12rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  /* overflow: hidden; */
  min-width: 7.5rem;
  max-width: 25.12rem;
  height: 2.48rem;
  border-radius: 1.84rem;
  background: rgba(13, 19, 23, 0.99);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0.48rem;
  padding-right: 0.48rem;
}

.langs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.528rem;
}

.lang,
.lang-selected {
  width: 5.7rem !important;
  height: 1.8rem;
  border-radius: 1.12rem;
  background: #171c20;
  display: flex !important;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.lang-selected {
  background: #fe4747;
}

.lang-text,
.text-selected,
.arabic-lang,
.arabic-selected {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.2);
  text-align: center;
  font-family: RobotoSemiBold;
  font-size: 0.752rem;
  font-weight: 600;
  line-height: normal;
}

.text-selected,
.arabic-selected {
  color: #fff;
}

.arabic-lang {
  font-family: "Noto Sans Arabic", sans-serif;
}
