.two,
.three,
.four,
.five,
.six,
.seven,
.eight,
.nine,
.ten,
.eleven.two {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
}

.one {
  bottom: 1%;
  left: 45%;
}

.two {
  bottom: 13%;
  left: 81%;
}
.three {
  bottom: 12%;
  left: 59%;
}

.four {
  bottom: 12%;
  left: 31%;
}
.five {
  bottom: 13%;
  left: 10%;
}
.six {
  bottom: 27%;
  left: 81%;
}
.seven {
  bottom: 25%;
  left: 59%;
}

.eight {
  bottom: 25%;
  left: 31%;
}
.nine {
  bottom: 27%;
  left: 10%;
}
.ten {
  bottom: 30%;
  left: 45%;
}

.eleven {
  bottom: 40%;
  left: 45%;
}

.player-name {
  color: #274122;
  font-size: 0.75rem;
  font-family: RobotoSemiBold;
  font-weight: 600;
  line-height: normal;
}
.team-shirt {
  width: 41px;
  height: 30px;
  color: #a60e08;
}

@media (max-width: 56.25rem) {
  .two,
  .three,
  .four,
  .five,
  .six,
  .seven,
  .eight,
  .nine,
  .ten,
  .eleven.two {
    gap: 0.17rem;
  }
  .team-shirt {
    width: 31px;
    height: 21px;
  }

  .player-name {
    font-size: 11.5px;
  }
}
@media (max-width: 23.125rem) {
  .team-shirt {
    width: 23px;
    height: 27.5px;
  }
  .player-name {
    font-size: 11px;
  }
}
