.videojs {
  height: 100%;
  width: 100%;
}

.watch-video-wrapper-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.64rem 0.48rem 0;
  width: 100%;
}
.servers {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: -0.8rem;
  position: relative;
}

.modes-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.448rem;
}
.icon-div {
  width: 1.872rem;
  height: 1.872rem;
  border-radius: 50%;
  background-color: rgba(7, 17, 23, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
@media (max-width: 56.25rem) {
  .watch-video {
    width: 100%;
    height: min(60vh, 23rem);
    border-radius: 0.625rem;
    background: #0c1115;
    overflow: hidden;
  }
  .watch-video-wrapper-bottom {
    margin: 1rem auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.75rem;
    padding: 14px 10px;
    border-radius: 1.56rem;
    background: transparent;
  }

  .servers-mobile {
    max-width: 402px;
    height: 54px;
    flex-shrink: 0;
    border-radius: 44px;
    background: #0d1317;
    padding: 0 10px;
  }
  .social-links-desktop {
    display: none;
  }
  .modes-icons {
    gap: 0.5rem;
    width: 100%;
    height: auto;
    border-radius: none;
    background: transparent;
  }

  /* .icon-div {
    width: 2.03rem;
    height: 2.03rem;
    border-radius: 50%;
    background-color: rgba(7, 17, 23, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  } */
  .servers {
    display: none;
  }
}
@media (max-width: 600px) {
  .watch-video {
    height: 14.5rem;
  }
}
@media (max-width: 400px) {
  .watch-video-wrapper-bottom {
    width: 21.125rem;
  }
}
