.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.temp {
  margin-top: 3.46rem;
  margin-bottom: 1.97rem;
}
@media (max-width: 56.25rem) {
  .temp {
    margin-top: 2rem;
    margin-bottom: 0.95rem;
  }
}
@media (max-width: 25rem) {
  .temp {
    margin-top: 1.875rem;
    margin-bottom: 0.75rem;
  }
}
