.container {
  max-width: 76%;
  margin: auto;
  padding-bottom: 5.6rem;
}
.top-heading {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 3.152rem;
}
.heading-span {
  color: rgba(255, 255, 255, 0.2);
  font-size: 0.75rem;
  line-height: 0.96rem;
  font-family: RobotoSemiBold;
}
.heading-title {
  font-family: RobotoSemiBold;
  font-size: 1.5rem;
  line-height: 1.8rem;
  margin-bottom: 0.8rem;
  margin-top: 0.37rem;
}

.watch-video-top {
  display: flex;
  justify-content: space-between;
  width: 98%;
  margin: 0.8rem auto 5px;
}
.after-video {
  max-width: min(73vw, 50.64vw);
  margin: auto;
}

.sort-search-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 87.6%;
  margin: 1.76rem auto 1.28rem;
  height: 3.256rem;
  background-color: rgba(13, 19, 23, 0.96);
  padding: 0 0.824rem;
  border-radius: 0.3rem;
}
.watch-video-options > * {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vpn {
  margin: auto;
  width: max-content;
}
@media (max-width: 75rem) {
  .after-video {
    max-width: 51rem;
  }
}

@media (max-width: 56.25rem) {
  .container {
    padding-bottom: 3.5rem;
    max-width: 95%;
  }
  .heading-span {
    font-size: 0.925rem;
    line-height: 2rem;
  }
  .heading-title {
    font-size: 1.5rem;
    line-height: 1.375rem;
    margin-bottom: 0.95rem;
    margin-top: 0.57rem;
  }
  .live-btn {
    margin-bottom: 0.875rem;
    margin-top: 0.75rem;
  }
  .watch-video-top {
    justify-content: center;
    margin: 15px auto 13px;
  }

  .social-desktop {
    display: none;
  }
  .navigation {
    display: none;
  }

  .sort-search-wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    width: 100%;
    padding: 0.75rem;
    margin-top: 1.68rem;
    gap: 0.56rem;
    height: auto;
  }

  .vpn {
    margin: 0.875rem auto 0;
    margin-top: 0.68rem;
  }
}
@media (max-width: 600px) {
  .watch-video {
    height: 14.5rem;
  }
  .container {
    max-width: 100%;
    margin: 0 3px;
    padding-bottom: 3rem;
  }
}
