.qualities-wrapper {
  width: 274px;
  height: 322px;
  padding: 8px 28px;
  flex-shrink: 0;
  border-radius: 9px;
  opacity: 0.98;
  background: #0c1115;
  color: #e6e0e9;
  position: absolute;
  right: 120px;
  bottom: 70px;
  transform: translate(50%, 0%);

  font-family: Roboto;
  font-size: 16.5px;
  font-style: normal;
  line-height: 24px; /* 145.455% */
  letter-spacing: 0.5px;
  /* M3/Elevation Dark/2 */
  box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.15),
    0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  z-index: 100;
}
.quality-title {
  display: flex;
  height: 56px;
  padding: 8px 12px;
  align-items: center;
  gap: 12px;
  align-self: stretch;
}
.quality-title .title {
  height: 24px;
  flex: 1 0 0;
  font-weight: 700;
  text-align: center;
}

.close-svg {
  cursor: pointer;
}
.qualities-content {
  height: fit-content;
  overflow-y: auto;
}
.quality-item {
  display: flex;
  height: 42px;
  align-items: center;
  transition: all 0.3s;
}
.quality-item:hover {
  border-radius: 6px;
  background: #192127;
}
.quality-item-content {
  color: #e6e0e9;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 160% */
  letter-spacing: 0.5px;
  width: 176px;
  padding-right: 13px;
  padding-left: 13px;
}
