.container {
  width: 100%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.group-wrapper {
  width: 100%;
}

.devider {
  display: block;
  width: 24px;
  height: 18.4px;
  background: #03a1cd;
  margin: auto;
}

.switch-dots {
  margin: 2.024rem auto 0;
}
