.share-links {
  background: #0d1317;
  border-radius: 1.536rem;
  padding: 1.576rem 1.576rem 1.36rem 1.392rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 25.2rem;
}

.share-links-top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.exit {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 0.8rem;
  color: rgba(221, 221, 221, 0.5);
}

.exit:hover {
  rotate: -90deg;
  color: white;
  transform: scale(1.04);
}

.share-links-title {
  font-size: 1.008rem;
  line-height: 0.75rem;
  font-family: RobotoBold;
}

.share-links-body {
  margin-top: 2.36rem;
  display: flex;
  align-items: center;
  width: 100%;
}

.share-links-websites {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0.8rem;
  transition: all 0.35s ease-out;
}

.share-links-website-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(157, 157, 157, 0.04);
  border-radius: 50%;
  width: 43.2px;
  height: 43.2px;
}

.share-links-website-logo > * {
  transition: all 0.5s ease-out;
  font-size: 1.12rem;
}
.share-links-website {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.3rem;
  cursor: pointer;
  font-family: "Inter";
  font-weight: 400;
  font-size: 0.52rem;
  line-height: 0.56rem;
  color: #ffffff;
  transition: all 0.35s ease-out;
}
.pinterest-icon {
  color: #0d1317;
  background: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.35s ease-out;
}

.share-links-website:hover > * {
  color: #01bcf1 !important;
}
.share-links-website:hover > .share-links-website-logo {
  background: #122428;
}
.share-links-website:hover .pinterest-icon {
  background: #01bcf1 !important;
}

.share-links-bottom {
  position: relative;
  height: 2.32rem;
  width: 100%;
  border-radius: 0.6rem;
  font-family: "Inter";
  font-weight: 400;
  font-size: 0.6rem;
  line-height: 0.68rem;
  background: rgba(157, 157, 157, 0.04);
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.72rem;
  margin: 1.456rem auto 0;
}
.copy-icon {
  font-size: 0.8rem;
  cursor: pointer;
}
.copy-icon:hover {
  color: #01bcf1;
}
@media (max-width: 56.25rem) {
  .share-links {
    border-radius: 1.44rem;
    padding: 1.577rem 1.477rem 1.275rem 1.3rem;
    width: min(25.625rem, 95%);
  }
  .share-links-title {
    font-size: 1.2rem;
    line-height: 0.7rem;
  }
  .share-links-exit {
    width: 8.25px;
    height: 8.25px;
  }
  .share-links-body {
    margin-top: 2.2rem;
  }
  .share-links-websites {
    gap: 0.75rem;
  }
  .share-links-website-logo {
    width: 48.5px;
    height: 48.5px;
  }
  .share-links-website-logo > * {
    transition: all 0.5s ease-out;
    font-size: 1.55rem;
  }
  .share-links-website {
    gap: 0.28rem;
    font-size: 0.48rem;
    line-height: 0.525rem;
  }
  .share-links-bottom {
    height: 2.175rem;
    border-radius: 0.56rem;
    font-size: 0.66rem;
    line-height: 0.63rem;
    padding: 0 0.7rem;
    margin: 1.36rem auto 0;
  }
  .copy-icon {
    font-size: 0.75rem;
  }
}
@media (max-width: 28.125rem) {
  .share-links {
    border-radius: 1.23rem;
    padding: 1.34rem 1.26rem 1.09rem 1.11rem;
  }
  .share-links-title {
    font-size: 1.02rem;
    line-height: 0.6rem;
  }
  .share-links-exit {
    width: 7.01px;
    height: 7.01px;
  }
  .share-links-body {
    margin-top: 1.87rem;
  }
  .share-links-websites {
    gap: 0.64rem;
  }
  .share-links-website-logo {
    width: 41.23px;
    height: 41.23px;
  }
  .share-links-website-logo > * {
    transition: all 0.43s ease-out;
    font-size: 1.32rem;
  }
  .share-links-website {
    gap: 0.24rem;
    font-size: 0.41rem;
    line-height: 0.45rem;
  }
  .share-links-bottom {
    height: 1.85rem;
    border-radius: 0.48rem;
    font-size: 0.56rem;
    line-height: 0.54rem;
    padding: 0 0.59rem;
    margin: 1.16rem auto 0;
  }
  .copy-icon {
    font-size: 0.64rem;
  }
}
