.container {
  position: absolute;
  top: 2rem;
  width: 97%;
  right: 1.2%;
  z-index: 10;
  border-radius: 0.24rem;
  background: #1d242b;
  min-height: 4.2rem;
  padding: 0.48rem 0.48rem 0.536rem 0.776rem;
  display: flex;
  flex-direction: column;
  border-bottom: 7.2px solid #03a1cd;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.poll-maker {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 0.452rem;
  line-height: 0.68rem;
  color: rgba(255, 255, 255, 0.5);
}

.poll-title {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 0.744rem;
  line-height: 1.12rem;
  text-align: center;
}

.poll-para {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 0.64rem;
  line-height: 0.96rem;
  text-align: center;
  color: #58b3cc;
}

.arrow-wrapper {
  border-radius: 50%;
  height: 0.52rem;
  width: 0.52rem;
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.4rem auto 0;
}

.arrow-down,
.arrow-up {
  font-size: 0.56rem;
  color: #203639;
  cursor: pointer;
}

.arrow-down {
  rotate: 180deg;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 0.4rem;
}

.show-less {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Roboto";
  font-size: 0.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 80px;
  height: 25.6px;
  border-radius: 2.4px;
  background: rgba(33, 46, 57, 0.6);
}
@media (max-width: 56.25rem) {
  .container {
    width: 98%;
    right: 1%;
    min-height: 3.625rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    padding: 7px 8px 7px 11px;
  }
  .poll-maker {
    font-size: 7px;
    line-height: 9px;
  }
  .poll-icon {
    width: 13px;
    height: 13px;
  }
  .poll-title {
    font-size: 0.85rem;
    line-height: 1.125rem;
  }
  .poll-para {
    font-size: 0.725rem;
    line-height: 0.93rem;
  }
  .arrow-wrapper {
    height: 0.625rem;
    width: 0.625rem;
    margin: 0.7rem auto 0;
  }
  .arrow-down,
  .arrow-up {
    font-size: 0.65rem;
  }
  .button-wrapper {
    display: flex;
    justify-content: center;
  }
  .show-less {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-feature-settings: "clig" off, "liga" off;
    font-family: "Roboto";
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 83px;
    height: 27px;
    border-radius: 3px;
    background: rgb(33, 46, 57, 0.6);
  }
}
