.page {
  max-width: min(68%, 36rem);
  margin: 0 auto;
  padding-bottom: 2rem;
}
.container {
  width: 100%;
  margin-top: 0.856rem;
  background-color: #0d1317;
  border-radius: 0.9rem;
  padding: 0;
}
.news-items {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
@media (max-width: 56.25rem) {
  .page {
    max-width: min(87%, 35rem);
    padding-bottom: 3rem;
  }
  .container {
    margin-top: 0.92rem;
    border-radius: 0.97rem;
    padding: 0.1rem 0 0.65rem;
  }
}
@media (max-width: 40.6rem) {
  .page {
    max-width: min(97%, 28rem);
    margin: 0 auto;
    padding-bottom: 3.375rem;
  }
  .container {
    margin-top: 0.5rem;
    background-color: #0d1317;
    border-radius: 0.625rem;
  }
}
@media (max-width: 600px) {
  .page {
    max-width: 100%;
    margin: 0 3px;
  }
}
