.container-mobile {
  display: none;
}

.chat-icon {
  position: fixed;
  bottom: 5vh;
  right: 10vw;
  z-index: 8;
  cursor: pointer;
}
.chat {
  position: fixed;
  bottom: 10vh;
  right: 1vw;
  z-index: 7;
}
@media (max-width: 56.25rem) {
  .container {
    display: none;
  }
  .container-mobile {
    display: block;
  }
  .chat-icon {
    bottom: 3vh;
    right: 8%;
    width: 73px;
    height: 73px;
  }
  .chat {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 7;
  }
}
