.watch-details {
  margin: 4.688rem auto 0;
  max-width: 42rem;
}
.watch-details-first {
  display: flex;
  align-items: center;
  gap: 0.96rem;
  flex-direction: column;
}
.league-image {
  width: 77px;
}
.date-and-place {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.56rem;
}
.date,
.place {
  font-size: 0.944rem;
  line-height: 1.232rem;
}
.watch-details-second {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 11px;
}
.first-team,
.second-team {
  display: flex;
  align-items: center;
  gap: 2.624rem;
  width: 45%;
  overflow: hidden;
}
.team-image {
  height: 70px;
}
.first-team {
  justify-content: flex-start;
}
.second-team {
  justify-content: flex-end;
}
.fighter-icon-wrapper {
  width: 92px;
  height: 92px;
  border-radius: 50%;
  background-color: #fff;
}
.first-team-name,
.second-team-name {
  font-size: 1.5rem;
  line-height: 1.76rem;
  font-family: RobotoBold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.vs {
  font-family: RobotoSemiBold;
  font-size: 0.96rem;
  line-height: 0.9rem;
}
.watch-details-last {
  margin-top: 0.24rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.68rem;
}
.half {
  font-family: RobotoSemiBold;
  font-size: 0.75rem;
  line-height: 0.9rem;
  color: #4ae96d;
}
.not-live {
  padding: 0.224rem 0.896rem;
  border: 0.72px solid #7b7b7b;
  border-radius: 0.184rem;
  font-family: RobotoSemibold;
  font-weight: 600;
  font-size: 0.6rem;
  line-height: 0.72rem;
  color: #929292;
  display: flex;
  justify-content: center;
}

@media (max-width: 56.25rem) {
  .watch-details {
    margin: 1.25rem auto 0;
    max-width: 30rem;
  }
  .league-image {
    width: 84px;
  }

  .team-image {
    height: 69px;
  }
  .watch-details-first {
    gap: 1rem;
  }
  .date-and-place {
    gap: 0.7rem;
  }
  .date,
  .place {
    font-size: 0.8rem;
    line-height: 0.9rem;
  }
  .watch-details-second {
    margin-top: 1.2rem;
  }
  .first-team,
  .second-team {
    gap: 0.625rem;
  }
  .first-team-name,
  .second-team-name {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-family: RobotoSemiBold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .vs {
    font-family: RobotoSemiBold;
    font-size: 0.9rem;
    line-height: 0.8rem;
  }
  .watch-details-last {
    margin-top: 0.1rem;
    gap: 0.65rem;
  }
  .half {
    font-family: RobotoSemiBold;
    font-size: 0.75rem;
    line-height: 0.85rem;
  }
  .not-live {
    padding: 0.25rem 0.4rem;
    width: 3.25rem;
    height: 1.31rem;
    display: flex;
    align-items: center;
    margin-top: 0;
  }
}

@media (max-width: 35rem) {
  .watch-details {
    margin: 0.7rem auto 3rem;
    max-width: min(27rem, 90vw);
  }

  .watch-details-first {
    gap: 1.35rem;
  }
  .league-image {
    width: 78px;
  }

  .date-and-place {
    gap: 0.5rem;
  }
  .date,
  .place {
    font-size: 0.9rem;
    line-height: 0.96rem;
  }
  .watch-details-second {
    margin-top: -1.5rem;
    align-items: center;
  }
  .first-team,
  .second-team {
    gap: 1rem;
    flex-direction: column;
  }

  .second-team {
    flex-direction: column-reverse;
  }
  .team-image {
    height: 75px;
  }

  .first-team-name,
  .second-team-name {
    font-size: 1.365rem;
    line-height: 1.25rem;
    font-family: RobotoSemiBold;
  }
  .vs {
    font-family: RobotoSemiBold;
    font-size: 0.85rem;
    line-height: 0.65rem;
    /* margin-bottom: 46px; */
  }
  .watch-details-last {
    margin-top: 1.25rem;
    gap: 1rem;
  }
  .half {
    font-family: RobotoSemiBold;
    font-size: 0.8rem;
    line-height: 0.95rem;
  }
}
