.countdown {
  font-size: 0.8rem;
  font-weight: 500;
  color: white;
  font-family: "Poppins";
}
.chat-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.85rem;
  width: 100%;
  padding: 0.5rem 0.98rem 0.93rem 1.125rem;
  position: relative;
  background: black;
}
.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}
.emojy {
  font-size: 1.65rem;
  color: white;
  background: black;
  border-radius: 55%;
  cursor: pointer;
}
.user-icon {
  font-size: 1.35rem;
  color: white;
  cursor: pointer;
}

.emojy-dev,
.user-dev {
  display: flex;
  align-self: center;
}
.emojy:hover,
.user-icon:hover {
  color: rgb(156, 155, 155);
  background: inherit;
}

#specificInput::-webkit-input-placeholder {
  font-family: RobotoRegular;
}

#specificInput:-moz-placeholder {
  font-family: RobotoRegular;
}

#specificInput::-moz-placeholder {
  font-family: RobotoRegular;
}

#specificInput:-ms-input-placeholder {
  font-family: RobotoRegular;
}

.chat-input {
  background: #101a22;
  color: rgba(255, 255, 255, 0.95);
  border-radius: 0.3rem;
  padding: 0.4rem 0.8rem;
  resize: none;
  flex-grow: 1;
  height: 2.1rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  border: 2px solid transparent;
  /* transition: all 0.3s ease-in-out; */
  font-size: 0.8rem;
  line-height: 0.9rem;
}

.chat-input::placeholder {
  font-family: "Roboto Condensed", sans-serif;
}

.chat-input::-webkit-scrollbar {
  width: 4.5px;
}

/* Track */
.chat-input::-webkit-scrollbar-track {
  background: inherit;
}

/* Handle */
.chat-input::-webkit-scrollbar-thumb {
  background: #060c11;
  border-radius: 8px;
}

/* Handle on hover */
.chat-input::-webkit-scrollbar-thumb:hover {
  background: #515151;
}

.chat-input:focus-visible {
  border: 2px solid #03a1cd;
  outline: none;
}
.chat-bottom-send {
  min-width: 1.79rem;
  height: 1.79rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #03a1cd;
  border-radius: 50%;
  transition: all 0.2s ease-out;
}
.chat-bottom-send:hover {
  background-color: rgba(3, 161, 205, 0.4);
}
.chat-bottom-send,
.chat-bottom-emojy,
.chat-bottom-user {
  cursor: pointer;
}

.arrow-sending {
  /* background-color: #3498db; */
  animation: sending 0.5s ease-in-out infinite;
}

@keyframes sending {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-40%);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0);
  }
}
@media screen and (max-height: 1400px) and (min-height: 1100px) and (max-width: 1100px) and (min-width: 800px) {
  .chat-bottom {
    gap: 2.5rem;
    padding: 0.7rem 2.7rem 1.8125rem 2.375rem;
  }
  .chat-input {
    border-radius: 0.3rem;
    padding: 1rem 1.7rem;
    height: 3.18rem;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: normal;
    overflow-y: auto;
  }

  .icons {
    gap: 1.5rem;
  }
  .emojy {
    font-size: 2.85rem;
  }
  .user-icon {
    font-size: 2.75rem;
  }

  .chat-bottom-send {
    min-width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    margin-left: 3px;
  }
  .arrow-sending,
  .arrow {
    font-size: 1.52rem !important;
  }
}
@media (max-width: 56.25rem) {
  .chat-bottom {
    gap: 0.75rem;
    padding: 1.07rem 0.94rem 0.94rem 0.8rem;
  }
  .chat-input {
    border-radius: 0.3rem;
    padding: 0.6rem 0.7rem;
    height: 2.3rem;
    font-weight: 400;
    font-size: 1rem;
    line-height: 0.75rem;
  }

  .icons {
    gap: 0.5rem;
  }
  .emojy {
    font-size: 1.85rem;
  }
  .user-icon {
    font-size: 1.75rem;
  }

  .chat-bottom-send {
    min-width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-left: 3px;
  }
}
