.search-wrapper {
  width: 100%;
}
.search-div {
  position: relative;
}
.channel-search {
  display: flex;
  align-items: center;
  padding-left: 1.6rem;
  width: 8.88rem;
  height: 1.5rem;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 0.2rem;
  font-size: 0.5624rem;
  line-height: 0.7496rem;
  color: rgba(216, 216, 216, 0.4);
  font-weight: 400;

}
.search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 9.6px;
}
@media (max-width: 56.25rem) {
  .search-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }
  .search-div {
    position: relative;
    width: 100%;
  }

  .channel-search {
    padding-left: 2.5rem;
    width: min(24rem, 100%);

    height: 2.8rem;
    border-radius: 0.35rem;
    font-size: 0.95rem;
    margin-left: 4px;
    line-height: 1.25rem;
  }
  .search-icon {
    left: 18px;
    width: 16px;
    height: 16px;
  }
}
