.wrapper-parent {
  position: absolute;
  bottom: 112.5px;
  z-index: 100;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about-wrapper {
  display: flex;
  width: 205.5px;
  height: 164.25px;
  padding: 11.25px 21px;
  flex-direction: column;
  flex-shrink: 0;
  border-radius: 9px;
  opacity: 0.98;
  background: #0c1115;
  box-shadow: 0px 1.5px 4.5px 1.5px rgba(0, 0, 0, 0.15),
    0px 0.75px 1.5px 0px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 100;
}

.close-svg {
  cursor: pointer;
  position: absolute;
  top: 3.75px;
  right: 7.5px;
  fill-opacity: 0.5;
}

.close-svg:hover {
  fill-opacity: 1;
}

.about-item {
  display: flex;
  transition: all 0.3s;
  padding: 3.75px 0;
  align-items: center;
  gap: 14.262px;
  flex-shrink: 0;
}

.about-item:hover {
  border-radius: 6px;
  background: #192127;
}

.about-item-content {
  color: #b5b5b5;
  width: 100%;
  text-align: center;
  font-family: "Roboto";
  font-size: 11.25px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.about-item-content span {
  color: #e6e0e9;
}

.logo-content {
  width: 100%;
  height: 61.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.logo-content .logo-name {
  color: var(--M3-sys-dark-on-surface, #e6e0e9);
  font-family: "Roboto";
  font-size: 9.75px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.svg-line {
  position: absolute;
  left: 50%;
  bottom: 67.5px;
  transform: translate(-50%, -50%);
}
