.wrapper-parent {
  position: absolute;
  bottom: 150px;
  z-index: 100;
  left: 50%;
  transform: translate(-50%, -50%);
}
.about-wrapper {
  display: flex;
  width: 274px;
  height: 219px;
  padding: 15px 28px;
  flex-direction: column;
  flex-shrink: 0;
  border-radius: 9px;
  opacity: 0.98;
  background: #0c1115;
  box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.15),
    0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 100;
}
.close-svg {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 10px;
  fill-opacity: 0.5;
}
.close-svg:hover {
  fill-opacity: 1;
}

.about-item {
  display: flex;
  transition: all 0.3s;
  padding: 5px 0;
  align-items: center;
  gap: 19.016px;
  flex-shrink: 0;
}
.about-item:hover {
  border-radius: 6px;
  background: #192127;
}
.about-item-content {
  color: #b5b5b5;
  width: 100%;
  text-align: center;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 160% */

  letter-spacing: 0.5px;
}
.about-item-content span {
  color: #e6e0e9;
}
.logo-content {
  width: 100%;
  height: 82px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.logo-content .logo-name {
  color: var(--M3-sys-dark-on-surface, #e6e0e9);
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 184.615% */
  letter-spacing: 0.5px;
}
.svg-line {
  position: absolute;
  left: 50%;
  bottom: 90px;
  transform: translate(-50%, -50%);
}
