.monthly {
  width: 17.12rem;
  height: 37.72rem;
  padding: 1.384rem 1.944rem 1.5rem 1.424rem;
  margin-left: -0.5248rem;
  background: #fff;
  margin-top: 25.8px;
}

.plan-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.408rem;
  margin-bottom: 0.6384rem;
}

.header-title {
  color: #191d23;
  font-size: 1.12rem;
  font-family: "Manrope";
  font-weight: 700;
}
.header-description {
  color: #8a8a8a;
  font-size: 0.824rem;
  font-family: "Manrope";
  font-weight: 500;
}

.monthly .header-description {
  color: #8a8a8a;
}
.price {
  color: #191d23;
  font-size: 2.16rem;
  font-family: "Manrope";
  font-weight: 700;
}
.price .time {
  color: #4b5768;
  font-size: 0.68rem;
  font-family: "Manrope";
  font-weight: 300;
}
.comming-soon {
  display: flex;
  width: 14.16rem;
  height: 2rem;
  padding: 0.224rem 0.448rem;
  justify-content: center;
  align-items: center;
  gap: 0.1496rem;
  align-self: stretch;
  border-radius: 0.1496rem;
  background: #fff;
  color: #1d4ed8;
  text-align: center;
  font-size: 0.744rem;
  font-family: "Manrope";
  font-weight: 600;
  border: 1.2px solid #1d4ed8;
  margin: 0.784rem 0 1.36rem;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 0.4872rem;
}
.supported-feature,
.not-supported-feature {
  font-family: "Manrope";
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.64rem;
  color: #1d4ed8;
  font-size: 0.824rem;
}
.not-supported-feature {
  color: #a0abbb;
}
@media (max-width: 75rem) {
  .plan-header {
    gap: 0.3825rem;
    margin-bottom: 0.70275rem;
  }
  .monthly {
    width: 16.05rem;
    height: 40.3625rem;
    padding: 1.2975rem 1.8225rem 1.40625rem 1.335rem;
    margin-left: -0.492rem;
    margin-top: 24.1875px;
  }

  .monthly .plan-header {
    margin-bottom: 0.5985rem;
  }
  .header-title {
    font-size: 1.05rem;
  }
  .header-description {
    font-size: 0.7725rem;
  }
  .price {
    font-size: 2.025rem;
    font-weight: 525;
  }
  .price .time {
    font-size: 0.6375rem;
  }
  .comming-soon {
    width: 13.275rem;
    height: 1.875rem;
    padding: 0.21rem 0.42rem;
    gap: 0.14rem;
    border-radius: 0.14rem;
    font-size: 0.6975rem;
    margin: 0.84375rem 0 1.40625rem;
  }

  .monthly .comming-soon {
    margin: 0.735rem 0 1.275rem;
  }
  .features {
    gap: 0.45675rem;
  }
  .supported-feature,
  .not-supported-feature {
    font-size: 0.84375rem;
    gap: 0.6rem;
  }

  .monthly .supported-feature {
    font-size: 0.7725rem;
  }
}

@media (max-width: 50rem) {
  .monthly {
    width: 343px;
    height: 818px;
    padding: 66px 14px 40px 44px;
    border-radius: 0.93rem;
    margin-left: 0;
    margin-top: 0;
  }

  .monthly .plan-header {
    gap: 0.3825rem;
    margin-bottom: 0.70275rem;
  }

  /* .monthly .plan-header {
    margin-bottom: 0.5985rem;
  } */
  .header-title {
    font-size: 1.625rem;
    font-weight: 700;
  }
  .header-description {
    font-size: 1.125rem;
    font-weight: 400;
  }
  .price {
    font-size: 2.5rem;
    font-weight: 700;
  }
  .price .time {
    font-size: 0.875rem;
    font-weight: 300;
  }
  .comming-soon {
    width: 16.652rem;
    height: 2.375rem;
    gap: 0;
    padding: 0;
    border-radius: 0.14rem;
    font-size: 0.875rem;
    font-weight: 600;
    margin: 1.5rem 0 2.5rem;
  }
  .supported-feature,
  .not-supported-feature {
    gap: 1rem;
    font-size: 0.8rem;
    font-weight: 600;
  }


}
