@media (min-width: 1700px) {
  .footer {
    display: flex;
    justify-content: center;
  }
  .container {
    margin-left: 0 !important;
  }
}
.footer {
  box-sizing: border-box;
  background-color: #0d1317;
  padding: 3.88rem 0 1.6rem;
}
.container {
  width: min(60%, 70rem);
  margin-left: 12.5%;
}
.footer-container {
  display: grid;
  grid-template-columns: 9.6rem 1fr 29%;
  grid-column-gap: 5.5%;
}
.footer-container-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-social {
  display: none;
}
.footer-container-disclaimer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.64rem;
}
.footer-container-disclaimer > h3 {
  font-family: RobotoBold;
  font-weight: 700;
  font-size: 1.36rem;
  line-height: 1.32rem;
}
.footer-container-disclaimer > p {
  font-size: 0.76rem;
  line-height: 0.8rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.75);
}
.footer-container-second {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: 1.2vw;
}
.footer-container-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.footer-container-links-heading {
  font-weight: 600;
  font-family: RobotoSemiBold;
  font-size: 0.912rem;
  line-height: 0.92rem;
  margin-bottom: 0.64rem;
  white-space: nowrap;
}
.footer-container-links-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.56rem;
  line-height: 0.6rem;
  font-size: 0.6rem;
  font-weight: 400;
  color: #666769;
}
.footer-bottom {
  display: grid;
  align-items: flex-start;
  grid-template-columns: 9.6rem 1fr;
  grid-column-gap: 6%;
  max-width: 88%;
  margin-top: 0.25rem;
}
.footer-actions {
  display: flex;
  gap: 0.4rem;
  font-size: 1.2rem;
  margin-left: 1.9rem;
  justify-content: center;
  justify-self: start;
  margin-top: 9px;
}
.footer-container-links-list-item {
  cursor: pointer;
}
.footer-actions-mobile {
  display: none;
}
.protected-button,
.dmca-button {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-family: RobotoBold;
  font-size: 0.36rem;
  line-height: 0%;
  cursor: pointer;
  border: none;
  border-radius: 0.8px;
  height: 0.9rem;
}
.protected-button {
  background-color: #00c3fa;
  width: 3.52rem;
}
.dmca-button {
  background-color: #fefe00;
  width: 2.4rem;
}

.copy-write {
  margin-top: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.32rem;
  border-top: 1px solid rgba(255, 255, 255, 0.12);
  font-size: 0.584rem;
  line-height: 1.04rem;
  color: rgba(255, 255, 255, 0.56);
}
.copy-write > *,
.copy-write-links > * {
  font-family: "Poppins";
}
.copy-write-links {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.copy-write-social {
  display: flex;
  align-items: center;
  gap: 1.76rem;
  cursor: pointer;
}
.copy-write-social,
.copy-write-links {
  cursor: pointer;
}
.mobile-news-letter {
  display: none;
}
.contact-email {
  margin-top: 0.16rem;
}
@media (max-width: 1450px) {
  .container {
    width: 60%;
    margin: auto;
  }
  .footer-container {
    display: grid;
    grid-template-columns: 7.2rem 1fr 29%;
    grid-column-gap: 4%;
  }
  .footer-container-image > img {
    width: 144px;
    height: 128px;
  }
  .footer-actions {
    margin-left: 0.8rem;
  }
  .footer-bottom {
    grid-template-columns: 7.2rem 1fr;
    grid-column-gap: 4%;
  }
}
@media (max-width: 98.5rem) {
  .container {
    width: 67.2%;
    margin: auto;
  }
}

@media (max-width: 81rem) {
  .footer-container {
    grid-template-columns: 7.6rem 1fr 29%;
    grid-column-gap: 3.8%;
  }
  .footer-container-image > img {
    width: 7rem;
    height: 6rem;
    display: flex;
  }
  .protected-button,
  .dmca-button {
    padding: 0.1rem 0.32rem;
    font-size: 0.48rem;
  }
  .footer-container-disclaimer > h3 {
    font-size: 0.96rem;
    line-height: 1.12rem;
  }
  .footer-container-disclaimer > p {
    font-size: 0.504rem;
    line-height: 0.68rem;
  }
  .footer-container-second {
    margin-left: 1%;
  }
  .footer-container-links-heading {
    font-size: 0.64rem;
    line-height: 0.776rem;
    margin-bottom: 0.608rem;
  }
  .footer-container-links-list {
    gap: 0.748rem;
    line-height: 0.51rem;
    font-size: 0.44rem;
  }
  .footer-bottom {
    grid-template-columns: 7.6rem 1fr;
    grid-column-gap: 3.8%;
    max-width: 88%;
  }
  .copy-write {
    padding-top: 1.12rem;
    font-size: 0.544rem;
    line-height: 0.848rem;
  }
  .copy-write-links {
    gap: 0.16rem;
  }
  .copy-write-social {
    gap: 1.496rem;
  }
}
@media (max-width: 68.75rem) {
  .container {
    width: 72%;
  }
}

@media (max-width: 1050px) {
  .footer-container {
    grid-template-columns: 6.4rem 1fr 29%;
    grid-column-gap: 3%;
  }
  .footer-bottom {
    grid-template-columns: 6.4rem 1fr;
    grid-column-gap: 3%;
    max-width: 88%;
    margin-top: 0.56rem;
  }
  .footer-container-image > img {
    width: 6rem;
    height: 5.2rem;
    display: flex;
  }
  .protected-button,
  .dmca-button {
    padding: 0.1rem 0.32rem;
    font-size: 0.48rem;
  }
  .footer-container-disclaimer > h3 {
    font-size: 0.864rem;
    line-height: 1rem;
  }
  .footer-container-disclaimer > p {
    font-size: 0.456rem;
    line-height: 0.56rem;
  }
  .footer-container-links-heading {
    font-size: 0.576rem;
    line-height: 0.664rem;
    margin-bottom: 0.608rem;
  }
  .footer-container-links-list {
    gap: 0.4rem;
    line-height: 0.44rem;
    font-size: 0.4rem;
  }
  .footer-actions {
    margin-top: 0;
    margin-left: 0.4rem;
  }
  .copy-write {
    margin-top: 0.56rem;
    padding-top: 1.2rem;
    border-top: 1px solid rgba(255, 255, 255, 0.12);
    font-size: 0.576rem;
    line-height: 0.9rem;
  }
  .copy-write-links {
    gap: 0.36rem;
  }
  .copy-write-social {
    display: flex;
    align-items: center;
    gap: 1.6rem;
  }
}
@media (max-width: 56.25rem) {
  .footer {
    /* margin-top: 3rem; */
    padding: 1.66rem 0 0.375rem;
  }
  .container {
    max-width: 65%;
  }
  .footer-container {
    display: block;
    margin: auto;
  }
  .footer-container-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.375rem;
  }
  .footer-container-image > img {
    width: 140px;
    height: 100px;
    color: rgb(24, 34, 40);
  }
  .footer-social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
  }
  .footer-social-element {
    background-color: rgba(78, 78, 78, 0.43);
    padding: 0.58rem;
    border-radius: 0.5rem;
    display: flex;
  }
  .footer-container-disclaimer {
    margin-top: 1.5rem;
    gap: 0.85rem;
  }
  .footer-container-disclaimer > h3 {
    font-size: 1.4rem;
    line-height: 1.25rem;
    font-weight: 600;
    margin-top: 4px;
    font-family: RobotoSemiBold;
    align-self: center;
  }
  .footer-container-disclaimer > p {
    font-size: 0.685rem;
    line-height: 0.75rem;
    font-weight: 500;
  }
  .footer-actions-mobile {
    display: flex;
    font-size: 1.5rem;
    padding-top: 0.64rem;
    justify-content: center;
    margin: 5px auto 4px;
    gap: 0.3rem;
  }

  .dmca-button,
  .protected-button {
    padding: 0.125rem 0.73rem;
    width: auto;
    height: 18px;
    font-size: 0.5rem;
    margin: 2px auto 5px;
  }
  .contact-email {
    align-self: center;
  }
  .footer-actions {
    display: none;
  }
  .footer-container-second {
    margin-top: 1.75rem;
    margin-left: 0;
    display: flex;
    align-items: center;
  }
  .footer-container-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33.33%;
  }
  .footer-container-links:first-of-type {
    align-items: flex-start;
  }
  .footer-container-links:last-of-type {
    align-items: flex-end;
  }
  .footer-container-links-heading {
    font-weight: 600;
    font-size: 0.95rem;
    line-height: 0.875rem;
    margin-bottom: 0.6rem;
  }
  .footer-container-links-list {
    gap: 0.45rem;
    line-height: 0.95rem;
    font-size: 0.725rem;
    font-weight: 400;
    align-items: center;
  }
  .footer-bottom {
    display: flex;
    margin: auto;
  }
  .copy-write {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
    padding-top: 2.2rem;
    border-top: none;
    font-size: 0.7rem;
    line-height: 1.125rem;
    gap: 0.125rem;
  }
  .mobile-news-letter {
    display: none;
    /* display: flex; */
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1.1875rem;
  }
  .mobile-news-letter-input {
    padding: 0.4rem 0.75rem;
    background: inherit;
    border: 1px solid rgba(255, 255, 255, 0.12);
    border-radius: 0.375rem;
    color: rgba(255, 255, 255, 0.4);
    font-size: 0.625rem;
    line-height: 1.125rem;
    width: 10.75rem;
  }
  .mobile-news-letter-button {
    background-color: #01bcf1;
    border-radius: 0.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.625rem;
    line-height: 1.5rem;
    color: white;
    height: 2.0625rem;
    width: 5.125rem;
  }
  .copy-write-para {
    order: 3;
  }
  .copy-write-links {
    display: flex;
    align-items: center;
    gap: 0.2rem;
  }
  .copy-write-social {
    display: none;
  }
}
@media (max-width: 40.6rem) {
  .container {
    max-width: 75%;
  }
  .footer-social {
    width: 100%;
  }
}
@media (max-width: 26rem) {
  .copy-write {
    width: 97%;
  }
}
