.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  height: 0.376rem;
}
.indicator,
.cur-state-indicator {
  height: 100%;
  width: 2.32rem;
  background-color: #c7d3eb;
  cursor: pointer;
  border-radius: 0.3rem;
}
.cur-state-indicator {
  background-color: #47b2ff;
}
