.container,
.icons {
  display: flex;
  align-items: center;
  border-radius: 2rem;
}
.container {
  justify-content: space-between;
  width: 12.37rem;
  height: 2.3rem;
  background: rgba(13, 19, 23, 0.96);
  gap: 0.61rem;
  padding: 0 0.7rem 0 0.24rem;
}
.text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.23rem;
  height: 1.875rem;
  background-color: rgba(22, 29, 34, 0.96);
  color: rgba(255, 255, 255, 0.4);
  font-family: "Poppins";
  font-size: 0.77rem;
  font-weight: 500;
  line-height: normal;
  border-radius: 1.5rem;
}

.icons {
  justify-content: center;
  /* gap: 0.7rem; */
}
.link {
  display: flex;
  align-items: center;
  justify-self: center;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 4.5px;
  /* border-radius: 50%; */
}
/* .link:hover {
  border: 1px solid red;
} */
.link * {
  font-size: 1.04rem;
  /* width: 16px;
  height: auto; */
  color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.link:hover * {
  color: white;
}
@media (max-width: 56.25rem) {
  /* .container {
    display: none !important;
  } */
}
