.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.details {
  margin-top: 4.4rem;
}
.match-details-option-controller {
  display: none;
}
@media (max-width: 56.25rem) {
  .details {
    margin-top: 1.875rem;
    margin-bottom: 1.7rem;
  }
  .match-details-option-controller {
    display: flex;
    margin-top: 0.812rem;
  }
}
@media (max-width: 25rem) {
  .details {
    margin-top: 1.75rem;
    margin-bottom: 1.62rem;
  }
}
@media (max-width: 23.125rem) {
  .details {
    margin-top: 1.7rem;
    margin-bottom: 1.58rem;
  }
}
