.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5.48rem;
}
@media (max-width: 56.25rem) {
  .container {
    gap: 2.25rem;
  }
}
@media (max-width: 25rem) {
  .container {
    gap: 2.125rem;
  }
}
@media (max-width: 23.125rem) {
  .container {
    gap: 2rem;
  }
}
