.container {
  width: 100%;
  margin-top: 0.92rem;
  background-color: #0d1317;
  border-radius: 0.9rem;
  overflow: hidden;
}
.article-top {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1.2rem;
  padding: 1.12rem 1.12rem 0;
}
.article-top-icon {
  align-self: start;
  cursor: pointer;
}
.arrow-back {
  font-size: 1.04rem;
  color: rgba(128, 128, 128, 0.5);
  cursor: pointer;
  align-self: start;
  transition: all 0.3s ease-out;
}
.arrow-back:hover {
  color: gray;
}

.top-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  flex-grow: 1;
  padding-top: 0.48rem;
}

.news-article-heading {
  font-size: 1.36rem;
  line-height: 1.52rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.article-top span {
  font-size: 0.528rem;
  line-height: 0.52rem;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  opacity: 0.2;
}
.news-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.52rem;
  padding: 1.692rem 2.28rem 2rem 2rem;
}
.news-article-title {
  font-size: 0.68rem;
  line-height: 0.784rem;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  opacity: 0.7;
}
.news-article-image {
  align-self: center;
  border-radius: 0.72rem;
}
.news-article-para {
  font-size: 0.6rem;
  line-height: 0.712rem;
  color: white;
  font-family: "Roboto", sans-serif;

  opacity: 0.7;
  font-weight: 400;
}
.view-more {
  cursor: pointer;
  background-color: rgba(0, 179, 255, 0.664);
  border-radius: 2.7rem;
  width: 5.6rem;
  height: 2rem;
  color: white;
  font-size: 0.64rem;
  line-height: 0.8rem;
  padding-top: 1.6px;
  margin: 0.8rem auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-out;
}
.view-more:hover {
  background-color: rgba(0, 179, 255, 0.4);
}
@media (max-width: 56.25rem) {
  .container {
    margin-top: 0.9rem;
    border-radius: 1rem;
  }
  .article-top {
    padding: 0.9rem 0.75rem 0;
    flex-direction: row;
    gap: 1.15rem;
  }
  .arrow-back {
    font-size: 1.7rem;
    width: 1.25rem;
  }
  .article-top-icon {
    width: 0.78rem;
    height: 0.78rem;
  }

  .top-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.55rem;
  }
  .news-article-heading {
    font-size: 1.475rem;
    line-height: 1.48rem;
    text-align: center;
  }
  .article-top span {
    font-size: 0.55rem;
    line-height: 0.6rem;
    opacity: 0.2;
  }
  .news-item {
    gap: 1.75rem;
    padding: 1.125rem 1.625rem 2.125rem 1.44rem;
  }
  .news-article-title {
    font-size: 0.8rem;
    line-height: 0.85rem;
  }
  .news-article-image {
    align-self: center;
    border-radius: 0.82rem;
    width: 15.8rem;
    height: 11rem;
  }
  .news-article-para {
    font-size: 0.75rem;
    line-height: 0.76rem;
  }
  .view-more {
    background-color: #00b1ff;
    border-radius: 2.87rem;
    width: 6rem;
    height: 2.13rem;
    font-size: 0.7rem;
    line-height: 85rem;
    padding-top: 2px;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 56.25rem) {
  .container {
    margin-top: 0.9rem;
    border-radius: 1rem;
  }
  .article-top {
    padding: 0.9rem 0.75rem 0;
    flex-direction: row;
    gap: 1.15rem;
  }
  .arrow-back {
    font-size: 1.7rem;
    width: 1.25rem;
  }
  .article-top-icon {
    width: 0.78rem;
    height: 0.78rem;
  }

  .top-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.55rem;
  }
  .news-article-heading {
    font-size: 1.475rem;
    line-height: 1.48rem;
    text-align: center;
  }
  .article-top span {
    font-size: 0.55rem;
    line-height: 0.6rem;
    opacity: 0.2;
  }
  .news-item {
    gap: 1.75rem;
    padding: 1.125rem 1.625rem 2.125rem 1.44rem;
  }
  .news-article-title {
    font-size: 0.8rem;
    line-height: 0.85rem;
  }
  .news-article-image {
    align-self: center;
    border-radius: 0.82rem;
    width: 15.8rem;
    height: 11rem;
  }
  .news-article-para {
    font-size: 0.75rem;
    line-height: 0.76rem;
  }
  .view-more {
    background-color: #00b1ff;
    border-radius: 2.87rem;
    width: 6rem;
    height: 2.13rem;
    font-size: 0.7rem;
    line-height: 85rem;
    padding-top: 2px;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
