.emojies-gifs {
  position: absolute;
  bottom: 3.4rem;
  right: 0.25rem;
  height: 23.5rem;
  width: calc(100% - 0.5rem);
  overflow-y: hidden;
  z-index: 10;
  border-radius: .3rem;
  background: #1d242b;
}
.blue-header {
  display: flex;
  width: 100%;
  height: 0.75rem;
  background: #03a1cd;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.exit-emojy {
  position: absolute;
  top: 2rem;
  right: 1.6rem;
  cursor: pointer;
}

.space {
  width: 100%;
  height: 1.31rem;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: inherit;
}
.emojie-and-gifs-wrapper {
  padding: 0 1.687rem;
}

#emojies-gifs.emojies-gifs * {
  background: inherit;
}
#chat-bottom.chat-bottom
  #emojy-dev.emojy-dev
  #emojies-gifs.emojies-gifs
  .flex-column {
  background: inherit !important;
}
.emojies-gifs-top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 0.7rem auto 0.25rem;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid rgba(92, 92, 92, 1);
}
.option,
.option-selected {
  font-weight: 700;
  font-family: "Poppins";
  font-size: 0.82rem;
  line-height: 1rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.98rem;
  border-radius: 0.46rem;
  cursor: pointer;
}
.option-selected {
  background: #141a20;
}
@media screen and (max-height: 1400px) and (min-height: 1100px) and (max-width: 1100px) and (min-width: 800px) {
  .emojies-gifs {
    width: 78%;
    height: 30.9rem;
    bottom: 7.625rem;
    right: 11%;
    border-radius: 6px;
  }
  .blue-header {
    height: 0.5rem;
  }
  .exit-emojy {
    position: absolute;
    top: 47px;
    right: 34rpx;
    width: 16.5px;
    height: 16.5px;
    cursor: pointer;
  }
  .emojie-and-gifs-wrapper {
    padding: 0 1.25rem;
  }

  .emojies-gifs-top {
    gap: 1.5rem;
    margin: 1.5rem auto 0;
  }
  .option,
  .option-selected {
    font-size: 1.125rem;
    height: 3.18rem;
    padding: 0 1.75rem;
    border-radius: 0.3rem;
  }
}

@media screen and (max-width: 950px) and (max-height: 500px) {
  .emojies-gifs {
    bottom: 3.5rem;
    right: 2.5%;
    margin: auto;
    height: 21rem;
    width: 95%;
    border-radius: 0.3rem;
  }
}
@media (max-width: 56.25rem) {
  .emojies-gifs {
    bottom: 3.5rem;
    left: 50%;
    margin: auto;
    height: 21.94rem;
    width: min(87.2%, 26rem);
    transform: translate(-50%, 0);
    border-radius: 0.3rem;
  }
  .blue-header {
    height: 0.5rem;
  }
  .exit-emojy {
    position: absolute;
    top: 30px;
    right: 1.07rem;
    width: 14px;
    height: 14px;
    cursor: pointer;
  }
  .emojie-and-gifs-wrapper {
    padding: 0 0.75rem;
  }

  .emojies-gifs-top {
    gap: 0.4rem;
    margin: 0.8rem auto 0;
  }
  .option,
  .option-selected {
    font-size: 0.82rem;
    height: 1.875rem;
    padding: 0 0.99rem;
    border-radius: 0.42rem;
  }
}
