.chat-top {
  background-color: inherit;
  min-height: 2rem;
  width: 61%;
  padding: 0 0.65rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: black;
}

.chat-top-text {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-family: RobotoSemiBold;
  font-size: 0.89rem;
  font-style: normal;
  font-weight: 600;
  gap: 0.35rem;
  position: relative;
  width: 6.65rem;
  padding: 3px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

/* .chat-top-text:hover {
  background: #19232b;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: rgba(255, 255, 255, 0.4);
} */
/* .chat-top-text:hover > .chat-rooms {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 3px;
} */
.chat-top-text > img {
  transition: all 0.25s ease-out;
}
.chat-rooms {
  display: none;
}
/* .chat-top-text:hover > img {
  rotate: -180deg;
}
.chat-rooms {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #19232b;
  width: 6.65rem;
  z-index: 10;
  border-radius: 4.5px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  overflow: hidden;
  padding: 8px 4px 4px;
}
.space-2 {
  position: absolute;
  top: 6.55rem;
  left: 0;
  width: 100%;
  height: 0.4rem;
  background: #19232b;
  z-index: 10;
}
.chat-room,
.arabic {
  width: 100%;
  height: 1.5rem;
  display: flex;
  align-items: center;
  padding: 0 0.3rem;
  color: #fff;
  font-family: RobotoRegular;
  font-size: 0.7rem;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  border-radius: 3px;
}
.arabic {
  font-family: "Noto Sans Arabic";
}
.chat-room:hover,
.arabic:hover {
  background: #293237 !important;
}
 */
.chat-top-extend,
.chat-top-exit {
  cursor: pointer;
}
.chat-top-exit:hover,
.chat-top-exit:hover * {
  color: #fff;
  fill: white;
  fill-opacity: 1;
}

.chat-top-exit {
  position: absolute;
  right: 0.65rem;
  top: 0.5rem;
}
@media (max-width: 56.25rem) {
  .space-2 {
    top: 5.95rem;
  }
  .chat-top {
    min-height: 1.4rem;
    padding: 0.7rem;
    margin-left: 0;
    width: 100%;
    justify-content: center;
  }
  .chat-top-extend {
    width: 20.2px;
    height: 15.2px;
  }
  .chat-top-exit {
    display: none;
  }

  .chat-top-text {
    font-size: 0.8rem;
    line-height: 0.8rem;
    gap: 0.25rem;
    width: 7.3rem;
  }
  .chat-rooms {
    /* margin-left: -4rem; */
    padding: 6px;
    width: 7.3rem;
    top: 103%;
  }
  .chat-room,
  .arabic {
    height: 1.4rem;
    padding-left: 0.52rem;
    /* padding: 4px; */
    font-size: 0.65rem;
    line-height: 0.72rem;
  }
}
