.watch-video-servers {
  margin-top: 0.752rem;
  width: 87.6%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 0.32rem;
  grid-column-gap: 0.36rem;
  margin: auto;
}
.watch-video-servers-button,
.servers-button-active {
  background: var(--btn-background);
  cursor: pointer;
  height: 2.08rem;
  border-radius: 0.28rem;
  color: white;
  font-size: 0.75rem;
  line-height: 0.9rem;
  font-family: RobotoRegular;
  display: flex;
  align-items: center;
  justify-content: center;
}
.servers-button-active {
  border: 2px solid #03a1ce;
  position: relative;
}
.check-div {
  position: absolute;
  top: -4.8px;
  right: -4.8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}
.watch-video-servers-button:hover {
  background-color: #d32727;
}

@media (max-width: 56.25rem) {
  .watch-video-servers {
    margin: 0.93rem auto 0;
    width: 97.5%;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 0.25rem;
    grid-column-gap: 0.25rem;
  }
  .watch-video-servers-button,
  .servers-button-active {
    background: var(--btn-background);
    cursor: pointer;
    height: 2.625rem;
    border-radius: 0.25rem;
    color: white;
    font-size: 0.86rem;
    line-height: 0.875rem;
    font-family: RobotoSemiBold;
  }
}
