/* .container {
  position: relative;
} */
.selected {
  min-width: 8.2rem;
  border-radius: 0.28rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.375rem;
  /* padding-right: 0.25rem;
    padding-left: 0.5rem; */
  cursor: pointer;
  width: 100%;
  height: 2.11rem;
  border-radius: 0.28rem;
  background: #1e2124;
}
.selected-sport {
  color: rgba(255, 255, 255);
  text-align: center;
  font-family: "Poppins";
  font-size: 0.6rem;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  white-space: nowrap;
}
.options::-webkit-scrollbar {
  width: 2.5px;
}

/* Track */
.options::-webkit-scrollbar-track {
  background: inherit;
}

/* Handle */
.options::-webkit-scrollbar-thumb {
  background: rgba(127, 126, 126, 0.6);
  border-radius: 8px;
}

/* Handle on hover */
.options::-webkit-scrollbar-thumb:hover {
  background: #464646;
}
.options-container {
  width: 12.23rem;
  /* height: 10.45rem; */
  border-radius: 0.3rem;
  background: #232b30;
  position: relative;
}
/* .bottom{
  position: absolute;
  bottom: 0;
  left: 0;
} */
.options {
  width: 100%;
  padding: 10px 0.79rem;
  max-height: 8.95rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.3rem;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.selected-option,
.option {
  display: flex;
  width: 10.64rem;
  min-height: 1.83rem;
  border-radius: 3px;
  background: inherit;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-family: "Poppins";
  font-size: 0.65rem;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}
.selected-option {
  background: #161f25;
}
.option:hover {
  background: #10adff;
}
@media (max-width: 56.25rem) {
  .options-container {
    width: 17.5rem;
    height: 15.06rem;
    border-radius: 0.75rem;
  }
  .options {
    width: 100%;
    padding: 0 0.79rem;
    height: calc(100% - 1.6rem);
    gap: 0.55rem;
  }
  .selected-option,
  .option {
    width: 100%;
    min-height: 2.5rem;
    border-radius: 3px;
    font-size: 0.875rem;
  }
}
